*{
    margin: 0;
    padding: 0;
}
/* * {
    outline: 1px solid #f00 !important;
  } */
/* navbar start */
    .navigation{
        padding: 0;
        margin: 0;
    }
    .navbar{
        background-color: #525252;
        height: 64px;
        padding:0;
    }
    .navbar-brand img{
        height: 54px;
        margin-top: 6px;
        margin-bottom: 4px;
        margin-left: 15px;
        width: 73px;
    }
    .navbar .navbar-nav {
        position: absolute;
        right: 40px;
    }
    .navbar .navbar-nav .rounded-link{
        border: 1px solid white;
        border-radius: 20px;
        padding: 6px  22px;
    }
    .navbar .navbar-nav .rounded-link{
        background-color: #00607287;
    }
    .navbar-toggler{
        margin-right: 25px;
    }
    
    .navbar .navbar-nav li a{
        color: #ffffff !important;
        font-size: 13px;
    }
    #collapsibleNavbar ul{
        background-color: #525252;
    }
    .navbar .navbar-nav{
        align-items: end;
    }
    .navbar .navbar-nav li{
        margin-left: 11px;
        margin-right: 11px;
        margin-top: 0;
        text-align: end;
        align-items: end;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    #faq-img{
        height: 370px;
        /* width: 1519px; */
        /* width: 100vw; */
        margin: 0 !important;
        padding: 0 !important;
        background-image: url('images/group-18.png');
        background-size: cover;
        padding: 0;
        margin: 0;
    }
    
/* navbar end */


/* price container */
.prices .container-fluid{
    padding-top: 50px;
}
#heading-faq{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
#FAQ{
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.67;
    letter-spacing: normal;
    text-align: center;
    color: #4f4f4f;
    font-family: Roboto;
}
.Rectangle-5-copy-6{
    height: 1px;
    background-color: #ccc;
    width: 62px;
    margin-top: 14px;
    margin-left: 7px;
    margin-right: 7px;   
}
.star-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 14px;
}




.Rectangle-20-copy {
    width: 553px;
    height: 59px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1d7a8c;
  }
#text-bottom{
    height: 304px;
    margin-top: 37px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #646464;
    font-family: Roboto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.onetime-division{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
    height: 304px;
}
.one-time-head{
    height: 59px;
    width: 553px;
    background-color: #1d7a8c;
}
.one-time-head span{
    font-family: Roboto;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.86;
    letter-spacing: normal;
    text-align: center;
    color: white;
    position: relative;
    top: 18px;
}
.one-time-body{
    display: flex;
    flex-direction: column;
    width: 553px;
    border: solid 1px #b0c9ce;
}
.one-body-1{
    height: 36px;
    text-align: center;
    color: #646464;
    /* width: 93px; */
    font-size: 30px;
    margin-left: auto; 
    margin-right: auto;
}
.one-body-1 span img{
    width: 42px;
    height: 45px;
    margin-top: -6px;
}
.one-body-1 span{
    font-size: 48px;
    font-weight: bold;
    display: inline;
}
.one-body-2{
    margin-top: 43px;
}
.one-body-2 ul{
    list-style: none;
    text-align: left;
    margin-left: 151px;
}
.one-body-2 ul li{
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 16px;
    font-family: Roboto;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #646464;
}
.Rectangle-21 {
    width: 73.1vw;
    height: 1px;
    background-color: #dcdcdc;
    margin-top: 51px;
  }

#heading-service{
    margin-top: 47px;
}
#Extra-services{
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.67;
    letter-spacing: normal;
    text-align: center;
    color: #4f4f4f;
    font-family: Roboto;
}
#services-division{
    margin-top: 39px;
}
#service-row{
    display: flex;
    flex-direction: row;
    
}
#service-row div .Inside-fridge{
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #646464;
}
#service-row div .-minutes{
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #1d7a8c;
}
#service-row div div{
    height: 108px;
    width: 108px;
    border: solid 1px #b0c9ce;
    border-radius: 50%;
    margin-left: 55px;
    margin-right: 55px;
}
#service-row div div img{
    position: relative;
    top: 30px;
}
/* price container end */


/* cleaning includes */
.cleaning{
    background-color: #f6f6f6;
    /* width: 100vw; */
    margin-top: 61px;
    padding-bottom: 82px;
}
#include-clean{
    padding-top: 80px; 
}
.cleaning-card{
    display: flex;
    flex-direction: row;
    margin-top: 42px;
}
.cleaning-card .card{
    width: 370px;
    margin-right: 15px;
    margin-left: 15px;
    border: 0;
    padding: 0;
}
.cleaning-card .card .card-body ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.cleaning-card .card .card-body .card-title{
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    font-family: Roboto;
}
.cleaning-card .card .card-body{
    background-color: #f6f6f6;
    text-align: left; 
}
.cleaning-card .card .card-body ul li{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: #4f4f4f;
    font-family: Roboto;
    margin: 0;
}
/* cleaning includes end */

/* reason */
.reason-division{
    padding-top: 78px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#why-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
}
#why-img{
    width: 329px;
    height: 236px;
}
.card-1{
    height: 236px;
    width: 335px;
}

.Experienced-and-vetted-professionals {
    font-family: Roboto;
    font-size: 19px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: right;
    color: #646464;
  }
  .dominate-the-industry-in-scale-and-scope-with-an-adaptable-ext {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: right;
    color: #646464;
  }
  .Dedicated-customer-service {
    font-family: Roboto;
    font-size: 19px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: right;
    color: #646464;
  }
  .to-our-customers-and-are-guided-in-all-we-do-by-their-needs-Th {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: right;
    color: #646464;
  }
  .Every-cleaning-is-insured {
    width: 222px;
    height: 20px;
    font-family: Roboto;
    font-size: 19px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #646464;
  }
  .and-seek-to-provide-exceptional-service-and-engage-in-proactive {
    width: 275px;
    height: 54px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #646464;
  }
  .Secure-online-payment {
    width: 206px;
    height: 20px;
    font-family: Roboto;
    font-size: 19px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #646464;
  }
  .Payment-is-processed-securely-online-Customers-pay-safely-onli {
    width: 256px;
    height: 54px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #646464;
  }
/* .card{
    border: 0;
} */


/* news letter */
 .new-head{
     margin-top: 55px; 
     width: 449px;
     font-family: Roboto;
     font-size: 18px;
     margin-left: auto;
     margin-right: auto;
     height: 38px;
     font-weight: 500;
     font-stretch: normal;
     font-style: normal;
     line-height: 1.22;
     letter-spacing: normal;
     color: #353548;
     font-family: Roboto;
 }
 .yourname div{
     justify-content: center;
     display: flex;
     flex-direction: row;
 }
 #input-t-1{
     width: 233px;
     border-radius: 20px;
     font-size: 14px;
     font-family: Roboto;
     font-weight: normal;
     font-stretch: normal;
     font-style: normal;
     line-height: 2.29;
     letter-spacing: normal;
     text-align: left;
     color: #565656;
     border: solid 1px #565656;
     height: 40px;
 }
 #new-btn{
     width: 88px;
     height: 40px;
     border: 0px;
     font-family: Roboto;
     font-size: 14px;
     font-weight: normal;
     font-stretch: normal;
     font-style: normal;
     letter-spacing: normal;
     background-color: #ff7b6d;
     border-radius: 20px;
     margin-left: 20px;
     color: white;
               
 }
 /* news letter end */
 
 /* footer start */
 .footer{
     /* width: 1536px; */
     /* width: 100vw; */
     height: 195px;
     background-color: #111;
     display: flex;
     flex-direction: column;
     padding: 0px;
     margin-top: 53px;  
     overflow: hidden;
 }
 .footer .div1{
     display: flex;
     flex-direction: row;
     height: 131px;
 }
 .footer .div1 .fimg{
     width: 20%;
 }
 .footer img{
     width: 106px;
     height: 78px;
     margin-left: 122px;
     margin-top: 27px;
 }
 .footer .div1 .footer-list{
     width: 50%;
     height: 12px;
     font-family: Roboto;
     font-size: 14px;
     font-weight: normal;
     font-stretch: normal;
     font-style: normal;
     line-height: 2.14;
     letter-spacing: normal;
     margin-right: auto;
     margin-left: auto;
     margin-top: 65px;
     justify-content: center;
     align-items: center;
 }
 .footer-list ul{
     list-style: none;
     color: white;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
 }
 .footer-list ul li{
     margin-left: 10px;
     margin-right: 10px;
 }
 .footer-list ul li a{
     text-decoration: none;
     color: white;
 }
 .fi{
     width: 20%;
     margin-top: 65px;
     text-align: center;
 }
 #fi1{
     width: 20px;
     height: 20px;
     margin-left: 15px;
     margin-right: 10px;
     margin-top: 0;
 }
 #fi2{
     width: 9px;
     height: 18px;
     margin-left: 10px;
     margin-right: 15px;
     margin-top: 0;
 }
 
 .footer .div2{
     /* width: 1536px; */
     width: 100vw;
     height: 64px;
     /* background-color: #292929; */
     text-align: center;
 }
 .div2 span{
     width: 775px;
     height: 14px;
     font-family: Roboto;
     font-size: 14px;
     font-weight: normal;
     font-stretch: normal;
     font-style: normal;
     line-height: 1.57;
     letter-spacing: normal;
     color: #f1f1f1;
     position: relative;
     top: 25px;
 }
 .Rectangle-12-copy-2 {
    width: 84.6vw;
    height: 1px;
    margin-right: auto;
    margin-left: auto;
    background-color: #424242;
  }
 
 /* footer end */


 @media screen and (max-width: 1250px)
 {
     .navbar{
         height: 100px;
     }
     .navbar-toggler{
        border: solid white;
    }
     .navbar-brand img{
         height: 75px;
         margin-top: 6px;
         margin-bottom: 4px;
         margin-left: 15px;
         width: 95px;
     }
     .navbar .navbar-nav li a{
         color: #ffffff !important;
         font-size: 14.5px;
     }
     .Rectangle-21 {
        width: 73.1vw;
        height: 1px;
        background-color: #dcdcdc;
        margin-top: 51px;
        margin-right: auto;
        margin-left: auto;
      }
      #service-row{
        flex-wrap: wrap;  
      }
      .cleaning-card{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #why-card{
        flex-direction: column;
    }
    .why-card-1 p{
        text-align: center;
        width: 80vw;
    }
    .why-card-1{
        width: 80vw;
    }
 
   }

   @media only screen and (max-width: 1000px) and (min-width: 751px) {
    .navbar-toggler{
        border: solid white;
    }
    #faqimg{
        width: 100vw;
        height: 370px;
    }
    #faq-img{
        background-size: cover;
        /* background-size: contain; */
        background-repeat: repeat-x;
    }
    #body-faq-1{
        width: 100vw;
    }
    div .accordion .card{
        /* width: 800px; */
        width: 80vw;
    }
    #tabs{
        /* width: 800px; */
        width: 80vw;
    }
    #tabs ul{
        /* width: 800px; */
        width: 80vw;
        height: 66px;
    }
    #tabs ul li{
        width: 400px;
    }
    #tabs .container{
        /* width: 946px; */
        width: 80vw;
        height: 66px;
    }
    .card-header{
        width: 80vw;
        height: 100px;
    }
    .card-header h2{
        height: 100px;
    }
    .card-header h2 button{
        height: 100px;
    }
    .footer{
        height: 500px; 
    }
    .footer .div1{
        display: flex;
        flex-direction: column;
        height: 500px;
        text-align: center;
        align-items: center;
    }
    .footer img{
        width: 200px;
        height: 150px;
        margin-top: 27px;
        margin-right: auto;
        margin-left: auto;
    }
    .footer .div1 .footer-list{
        width: 100%;
        height: 40px;
        font-size: 24px;
    }
    #fi1{
        width: 40px;
        height: 40px;
        margin-left: 15px;
        margin-right: 10px;
        margin-top: 0;
    }
    #fi2{
        width: 23px;
        height: 40px;
        margin-left: 10px;
        margin-right: 15px;
        margin-top: 0;
    }
    .footer .div2{
        height: 160px;
        margin-top: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .div2 span{
        height: 40px;
        font-family: Roboto;
        font-size: 18px;
        position: relative;
        top: 30px;
    }
    .news-letter{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .yourname div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .new-head{
        margin-top: 55px; 
        width: 449px;
        font-size: 24px;
        height: 50px;
    }
    #input-t-1{
        width: 400px;
        font-size: 20px;
        height: 40px;
        margin-bottom: 5px;
        text-align: center;
    }
    #new-btn{
        width: 150px;
        height: 40px;
        font-size: 20px;
        margin-left: 0;    
    }


}

@media only screen and (max-width: 750px){
.navbar-toggler{
    border: solid white;
}
.navbar{
    height: 160px;
}
.navbar-brand img{
    height: 100px;
    margin-top: 6px;
    margin-bottom: 4px;
    margin-left: 15px;
    width: 140px;
}
.navbar .navbar-nav li a{
    color: #ffffff !important;
    font-size: 14.5px;
}
.onetime-division{
    /* width: 80vw; */
    height: 304px;
    margin-left: auto;
    margin-right: auto;
}
.one-time-head{
    width: 300px;
}
.one-time-body{
    width: 300px;
}
.one-body-2 ul{
    text-align: left;
    margin-left: 10px;
    
}
.Rectangle-5-copy-6{
    width: 100px;
}
#text-bottom{
    font-size: 28px;
}
#service-row{
    justify-content: center;
    align-items: center;
    
}
#service-row div div{
    margin-top: 10px;
    margin-bottom: 10px;
}
.news-letter{
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.new-head{
    margin-top: 55px; 
    font-family: Roboto;
    font-size: 20px;
    height: 50px;
    width: 100vw;
}
#input-t-1{
    /* width: 200px; */
    border-radius: 30px;
    font-size: 16px;
    /* height: 30px; */
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}
.yourname .form-group{
    display: flex;
    flex-direction: column;
}
#new-btn{
    /* width: 150px; */
    /* height: 30px; */
    border-radius: 30px;
    font-size: 16px;
    padding: 0;
    margin-left: 0;
}
.footer{
    height: 550px; 
}
.footer .div1{
    display: flex;
    flex-direction: column;
    height: 400px;
    text-align: center;
    align-items: center;
}
.fimg{
    justify-content: center;
    align-items: center;
}
.footer img{
    width: 70px;
    height: 50px;
    margin-top: 27px;
    margin-right: auto;
    margin-left: auto;
}
.footer .div1 .footer-list{
    width: 80%;
    height: 40px;
    font-size: 12px;
}
.footer .div1 .footer-list ul{
    flex-direction: column;
}
.fi{
    flex-direction: row;
    position: relative;
    top: 50px;
}
#fi1{
    width: 15px;
    height: 15px;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 0;
}
#fi2{
    width: 10px;
    height: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0;
}

.footer .div2{
    height: 150px;
    margin-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
}
.div2 span{
    height: 40px;
    font-family: Roboto;
    font-size: 13px;
    position: relative;
    top: 30px;
}

}
@media only screen and (max-width: 450px){
    .cleaning-card .card{
        width: 300px;
    }
    #why-img{
        margin-top: 70px;
    }
    .footer{
        width: 100vw;
    }
}
