@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* .container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
} */

.navbar{
    background-color: #1fb6ff;
    height: 60px;
    padding:0 !important;
    height: 64px;
    margin: 0;
    display: flex;
    justify-content: space-between !important;
    position: relative;
    align-items: center;
}
.navigation{
    position: sticky;
    top: 0;
    z-index: 100000;
}
.navbar-brand{
    text-decoration: none;
    color: white;
    font-size: 37.5px !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.65;
    letter-spacing: normal;
    text-align: left;
    padding-left: 15px;
}
.navbar-brand:hover{
    color: white;
}
.navbar-toggler{
    border: 1px solid white !important;
    margin-right: 10px;

}
.nav-item{
    font-family: Roboto;
    font-size: 16px;
    /* line-height: 2; */
    letter-spacing: normal;
    text-align: left;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
}
.admin-img{
    margin-right: 8px;
}
/* navbar end */

/* content */
.content {
    display: flex;
    padding: 0 !important;
    margin: 0 !important;
}
.container__sidebar {
    width: 273px !important;
    padding: 0 !important;
}
.container__sidebar .nav{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 64px;
} 
.container__sidebar .nav .nav-item{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: left;
    border-bottom: 1px solid #e5e5e5;
}
.container__sidebar .nav .nav-item a{
    text-decoration: none;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.19;
    letter-spacing: normal;
    color: #646464;
}
.container__sidebar .nav .nav-item .active{
    color: #1fb6ff;
}


/* main container */
.container__main {
    /* Take the remaining width */
    flex: 1;
    width: 100% !important;
    /* Make it scrollable */
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f2f4f5;
    padding-left: 24px !important;
    padding-right: 24px !important;
    align-items: center;
    overflow-x: auto;
}
.heading-class{
    height: 70px;
}
#heading-div{
    width: 100%;
    /* padding: 34px 0px 16px 0px; */
    display: flex;
    align-items: center;
}
.heading-main-content{
    font-family: Roboto;
    font-size: 22px;
    color: #646464;
}
.heading-class div .btn{
    background-color: #1fb6ff;
    border-radius: 4px;
    color: white;
    font-family: Roboto;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-class{
    padding: 0 !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.add-button{
    margin-right: 4px;
    width: 16px;
    height: 16px;
}

/* form div second division */
.second-div{
    /* height: 86px; */
    padding: 20px 15px 20px 15px !important;
    border: solid 1px var(--white-four);
    background-color: var(--white);
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.second-div form div{
    display: flex;
    flex-direction: row;
    padding-right: 8px;
    padding-left: 8px;
    /* justify-content: space-between !important; */
}
.second-div form div{
    display: flex;
    justify-content: space-between;
}
.second-div form div div input,
.second-div form div div select,
.second-div form div div button,
.second-div form div div .input-group-prepend
{
    height: 46px !important;
    font-family: Roboto;
    font-size: 16px;
}
.input-group-prepend{
    padding-right: 0 !important;
}
.second-div form div div button{
    width: 84px !important;
}
.first-input{
    width: 215px !important;
}
.second-input{
    width: 215px !important;
}
.submit-btn{
    background-color: #1fb6ff !important; 
    color: white !important;
    width: 84px !important;
}
.clear-btn{
    border: solid 1px #dedddd !important;
    background-color: var(--white);
    width: 84px;
}
.p-num input{
    width: 162px !important;
}
.p-num .input-group-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fourth-input{
    width: 140px !important;
}


/* service request page third div */
.sr-main-div-form{
    display: flex;
    justify-content: space-between;
}
.s-first-input{
    width: 110px !important;
}
.sr-btn-div{
    display: flex;
    justify-content: right;
}
.s-second-input{
    width: 127px!important;
}
.s-third-input{
    width: 170px!important;
}
.s-fourth--input{
    width: 120px!important;
}
.s-fifth-input,.s-sixth-input{
    width: 135px !important;
}




/* table part */
.third-div{
    margin-top: 20px;
    border: solid 1px #e1e1e1;
    background-color: white;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
thead{
    border-bottom: solid 1px #e1e1e1;
    background-color: #f9f9f9;
    height: 56px;
}

thead tr th{
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: left;
    color: #646464;
    padding-left: 15px;
}
tbody{
    border: solid 1px var(--white-four);
    background-color: var(--white);  
}
tbody tr{
    height: 64px;
    border-bottom: solid 1px #e1e1e1;
}
tbody tr td{
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: left;
    color: #646464;
    padding-left: 15px;
}
.username,.username-data{
    width: 180px !important;
    padding: 0px;
    padding-left: 15px;
    
}
.usertype,.usertype-data{
    width: 180px !important;
}
.role,.role-data{
    width: 200px !important;
}
.postalcode,.postalcode-data{
    width: 140px !important;
}
.city,.city-data{
    width: 120px !important;
}
.radius,.radius-data{
    width: 120px !important;
    text-align: center;
}
.userstatus,.userstatus-data{
    width: 100px !important;
    text-align: center;
}

.action-data,.action{
    text-align: center;
    width: 120px !important;
}
.action-data .dropdown .dropdown-menu{
    top: 10px !important;
    left: -30px !important;
}


/* service request page ====================*/
.serviceid-data,.serviceid{
    width: 170px;
}
.servicedate-data,.servicedate{
    width: 200px;
}
.customerdetails,.customerdetails-data{
    width: 300px;
    text-align: left;
}
.serviceprovider-data,.serviceprovider{
    width: 240px;
}
.serviceprovider-data{
    width: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 !important;
    color: #646464;
}
.serviceprovider-data .cap-div{
    width: 44px;
    height: 44px;
    border: solid 1px #aaa;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}
.serviceprovider-data .cap-div img{
    width: 44px;
    height: 44px;
}
.i-con,.fa-star-half-stroke{
    color: #ecb91c;
}
.i-con-e{
    color: #d4d4d4;
}
.status,.status-data{
    /* width: 0px !important; */
    text-align: center;
    width: 150px !important;
}
.status-data{
    padding: 5px 5px 5px 5px;
    color: white;
    font-family: Roboto;
    font-size: 13px;
}
.status{
    /* background-color: #f2bb37; */
    padding: 7px 7px 7px 7px;
    color: white;
    font-family: Roboto;
    font-size: 13px;
}
.status-0{
    background-color: #f2bb37;
}
.status-1{
    background-color: rgb(85, 85, 255);
}
.status-2{
    background-color: lightgreen;
}
.status-3{
    background-color: rgb(255, 82, 82);
}
.status-4{
    background-color: green;
}
.pending{
    background-color: #1fb6ff;
    padding: 7px 7px 7px 7px;
    color: white;
    font-family: Roboto;
    font-size: 13px;
}
/* add class active if completed 
    and add class inactive if cencelled
*/

/* service request page================== */


.userstatus-data .active{
  padding: 7px 7px 7px 7px;
  color: white;
  background-color: #67b644;
  font-family: Roboto;
  font-size: 13px;
}
.inactive{
    padding: 7px 7px 7px 7px;
    color: white;
    font-family: Roboto;
    font-size: 13px;
    background-color: #ff6b6b;
}
.action-dropdown{
    background-color: #f4f4f4;
    width: 36px;
    height: 36px;
    border-radius: 50% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .acion-data .dropdown .dropdown-menu{
    position: absolute;
    top: 10px !important;
    left: -38px !important;
} */
/* .acion-data .dropdown .dropdown-menu::before{
    position: absolute;
    content: "";
    border-width: 0 9px 14px 9px;
    border-style: solid;
    border-color: transparent transparent #ccc transparent;
    top: -14px;
    right: 24px;
}
.acion-data .dropdown .dropdown-menu::after{
    position: absolute;
    top: 0;
    content: "";
    border-width: 0 8px 12px 8px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    top: -12px;
    right: 25px;
} */

.pagination-div{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-div .entry-show{
    display: flex;
    flex-direction: row;
}
.entry-show span{
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.29;
    letter-spacing: normal;
    text-align: left;
    color: #646464;
    
}
.entry-show .form-select{
    width: 58px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 4px;
    border: solid 1px #d6d6d6;
}
.pagination-nav{
    height: 38px !important;
}
.pagination-nav ul li{
    height: 38px;
    width: 38px;
    
}
.pagination-nav ul li a, .pagination-nav ul li a:hover{
    text-decoration: none;
    color: #646464;
    font-family: Roboto;
    font-size: 14px;
}
.pagination-nav ul li a:active,.pagination-nav ul li a:focus{
    background-color: #565656;
    color: white;
}
.pagination{
    margin: 0 !important;
}
/* content end */

/* footer */
.footer{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 !important;
}
.footer span{
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #a2a6a8;
}
/* footer end */
@media(max-width: 1420px){
    .second-div form{
        display: flex;
        justify-content: center;
    }
    .second-div form div{
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        padding: 5px;
        align-items: center;
    }
    .p-num{
        display: flex;
        flex-direction: row !important;
    }
    .input-group-prepend,.input-group-text{
        height: 46px;
        width: 57px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px !important;
    }
}
@media(max-width: 1300px){
    .content{
        display: flex;
        flex-direction: column;
    }
    .container__sidebar .nav{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .container__main .third-div{
        overflow-x: auto;
        min-width: 1000px;
    }
    .container__main .heading-class,
    .container__main .second-div,
    .container__main .footer{
        position: sticky;
        left: 0px;
    }
    .second-div form div div{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container__sidebar {
        width: 100% !important;
    }
    .container__sidebar .nav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    } 
    .container__sidebar .nav .nav-item{
        width: 50%;
        justify-content: center;
        border: 1px solid #e5e5e5;
        min-width: 200px;
    }
}
@media(max-width:780px){
    .sr-main-div-form,.sr-main-div-form .sr-div{
        display: flex !important;
        flex-direction: column !important;
    }
    .s-first-input,
    .s-second-input,
    .s-third-input,
    .s-fourth--input,
    .s-fifth-input,
    .s-sixth-input{
        width: 220px !important;
    }
    .second-div form div div .fourth-input,
    .second-div form div div .first-input,
    .second-div form div div .second-input
    {
        width: 220px !important;
    }
    
}
@media(max-width:572px){
    /* .navbar-brand{
        position: absolute;
        top: 0px;
        left: 0px;
    } */
    .navbar-toggler{
        border-color: white !important;    
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
    }
    .navbar-toggler .navbar-toggler-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }
    .nav-sp .navbar-toggler{
        position: absolute;
        right: 3px;
        top: 14px;
    }
    .collapse {
        position: absolute;
        top: 64px;
        right: 0;
        background-color: #1fb6ff;
    }

}
@media(max-width: 400px){
    .container__sidebar .nav .nav-item{
        width: 100%;
    }
    .heading-class{
        display: flex;
        flex-direction: column;
        height: fit-content !important;
        justify-content: center;
    }
    .heading-class div{
        padding: 10px !important;
        justify-content: center;
    }
    
}

.bottom {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.paginate_button:hover {
    background: rgb(58, 58, 58) !important;
    color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover
{
    background: rgb(58, 58, 58) !important;
    color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em;
}
.dataTables_paginate {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
    color: white !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled{
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.first {
    content: url(../Img/customer/first-page.png);
    padding: 8px 8px;
    border: 1px solid #e1e1e1;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.previous {
    content: url(../img/customer/keyboard-right-arrow-button-copy.png);
    padding: 8px 8px;
    border: 1px solid #e1e1e1;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.next {
    content: url(../img/customer/keyboard-right-arrow-button-copy.png);
    padding: 8px 8px;
    border: 1px solid #e1e1e1;
    transform: rotate(180deg);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.last {
    content: url(../img/customer/first-page.png);
    padding: 8px 8px;
    border: 1px solid #e1e1e1;
    transform: rotate(180deg);
}
.dataTables_wrapper .dataTables_length select {
    color: black;
}
table.dataTable,tbody,thead tr{
    border-spacing: 0;
    border-collapse: collapse !important;
    border: 0px !important;
}

table.dataTable thead .sorting {
    background-image: none !important;
}
table.dataTable thead .sorting_asc ,table.dataTable thead .sorting_desc{    
    background-image: none !important;
}