@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
input:focus,select:focus,
textarea:focus,button:focus
{
    box-shadow: none !important;
}
#login-model .modal-dialog{
    width: 350px;
    color: #838383;
}
#login-model .modal-dialog .modal-content{
    padding: 20px;
}
#login-model .modal-dialog .modal-content .modal-header{
    border: 0px;
    color: #838383;
}
#login-model .modal-dialog .modal-content .modal-header .modal-title{
    font-weight: 600;
    font-size: 22px !important;
}
#login-model .modal-dialog .modal-content .modal-header button{
    font-family: Roboto;
    font-size: 18px;
}
#login-model .modal-dialog .modal-content .modal-body{
    padding-top: 10px;
    padding-bottom: 0px;
    min-width: 100%;
}
#login-model .modal-dialog .modal-content .modal-body .col .row .form-control
,#login-model .modal-dialog .modal-content .modal-body .col .row .form-check,
#login-model .modal-dialog .modal-content .modal-body .col .row button
{
    margin: 10px 0px;
    font-family: Roboto;
    font-size: 18px;
}
#login-model .modal-dialog .modal-content .modal-body .col .row{
    position: relative !important;
}
#login-model .modal-dialog .modal-content .modal-body .col .row .fa-user, .modal-body .col .row .fa-lock {
    position: absolute;
    font-size: 47px;
    right: 5px;
    top: 5px;
}
#login-model .modal-dialog .modal-content .modal-body .col .row button{
    background-color: #1d7a8c;
    color: white;
    border-radius: 23px;
    height: 43px;
}
.modal-body .col .row p a,
.modal-body .col .row span a
{
    font-size: 18px;
    color: #1d7a8c;
    text-decoration: none;
}
#login-model .modal-dialog .modal-content .modal-body .col .row p,
#login-model .modal-dialog .modal-content .modal-body .col .row span
{
    text-align: center;
    font-size: 18px;
}
#login-model .modal-dialog .modal-content .modal-body .col .row p{
    margin-bottom: 0;
    margin-top: 20px;
}
.login-link{
    padding-top: 15px;
}


/* forgotpassword */
.fpass .modal-dialog{
    width: 320px !important;
    color: #838383;
}
.fpass .modal-dialog .modal-content{
    padding: 20px;
}
.fpass .modal-dialog .modal-content .modal-header{
    border: 0px;
    color: #838383;
}
.fpass .modal-dialog .modal-content .modal-header .modal-title{
    font-weight: 600 !important;
    font-size: 22px !important;
}
.fpass .modal-dialog .modal-content .modal-header button{
    font-family: Roboto;
    font-size: 18px !important;
}
.fpass .modal-dialog .modal-content .modal-body .col .row .form-control
.fpass .modal-dialog .modal-content .modal-body .col .row button
{
    margin: 10px 0px;
    font-family: Roboto;
    font-size: 18px !important;
}
.fpass .modal-dialog .modal-content .modal-body .col .row button{
    background-color: #1d7a8c;
    color: white;
    border-radius: 23px;
    height: 43px;
}
.modal-body .col .row p a,
.modal-body .col .row span a
{
    font-size: 18px;
    color: #1d7a8c;
    text-decoration: none;
}
.fpass .modal-dialog .modal-content .modal-body .col .row p,
.fpass .modal-dialog .modal-content .modal-body .col .row span
{
    text-align: center;
    font-size: 18px;
}
.fpass .modal-dialog .modal-content .modal-body .col .row p{
    margin-bottom: 0;
    margin-top: 20px;
}
.login-link{
    padding-top: 15px;
}
