@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.dropdown-menu{
    box-shadow: 1px 1px 8px grey;
}
input:focus,select:focus,
textarea:focus,button:focus
{
    box-shadow: none !important;
}
.error {
    color: red;
    margin-left: 5px;
    display: inline;
  }
  label.error {
    display: inline !important;
  }
/* navbar start */
.navbar{
    background-color: #525252;
    /* width: 100vw; */
    height: 64px;
    padding:0 !important;
    height: 64px;
    margin: 0;
    display: flex;
    justify-content: space-between !important;
    position: relative;
    align-items: center;
}
.navigation{
    position: sticky;
    top: 0;
    z-index: 10000;
}
.navbar-brand img{
    height: 54px;
    width: 73px;
    position: absolute;
    top: 6px;
    left: 15px;
}
.navbar .navbar-nav .rounded-link{
    border: solid 1px rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 111px;
    height: 40px;
}
.rounded-link:hover{
    background-color: #00607287;
}
.nav-sp{
    display: flex;
}
.nav-sp .sidebar-ul-navbar{
    display: none;
    border-top: 1px solid white;
    padding-top: 10px;
    margin-top: 10px;
}
.navbar .navbar-nav li a{
    color: #ffffff !important;
    font-size: 17px;
    margin-left: 6px;
    margin-right: 6px;
    height: 40px;
}
#collapsibleNavbar ul{
    background-color: #525252;
    z-index: 1000 !important;
}
.navbar .navbar-nav li{
    margin-left: 8px;
    margin-right: 8px;
    text-align: end;
    align-items: end;   
}
.float-right-notification ul{
    list-style: none;
    display: flex;
    padding-left: 0;
    height: 58px;
    padding-top: 12px;
    padding-bottom: 0px;
}

.dropdown-menu::before{
    position: absolute;
    content: "";
    border-width: 0 9px 14px 9px;
    border-style: solid;
    border-color: transparent transparent #ccc transparent;
    top: -14px;
    right: 24px;
}
.dropdown-menu::after{
    position: absolute;
    top: 0;
    content: "";
    border-width: 0 8px 12px 8px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    top: -12px;
    right: 25px;
}
#notification{
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.Ellipse-5 {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #ff1616;
    position: relative;
    top: -45px;
    left: 36px;
    color: white;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#user-1{
      margin-left: 0px;
      margin-right: 0px;
  }
.Forma-1-copy {
    width: 11px;
    height: 6px;
    object-fit: contain;
}
.dropdown-menu1{
    position: absolute;
    top: 60px !important;
    left: -115px !important;
}
.dropdown-menu2{
    position: absolute;
    right: 14px !important;
    top: 70px !important;
    left: unset !important;
}
/* navbar end */

/* name header */
.name-header{
    height: 119px;
    background-color: #f9f9f9;  
    text-align: center;
    padding-top: 44px;
    padding-bottom: 46px;
    border-bottom: 1px solid #e1e1e1;
}
.Welcome-name {
    font-family: Roboto;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.8;
    letter-spacing: normal;
    text-align: right;
    color: var(--greyish-brown);
    color: #4F4F4F;
    opacity: 1;
  }
  .Welcome-name .text-style-1 {
    font-weight: bold;
  }
/* name header end */

/* content */
.customerservicehistory{
    display: flex;
    flex-direction: row !important;
    padding-top: 31px;
    margin: 0 !important;
}
.content {
    display: flex;
}
.container__sidebar {
    width: 262px;
    background-color: #1d7a8c;
    height: 100%;
    margin-bottom: 20px;
}
.sidebar-ul{
    flex-direction: column !important;
}
.sidebar-ul li{
    height: 54px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 262px;
}
.sidebar-ul li .nav-link,.sidebar-ul .nav-item .nav-link:hover{
    text-decoration: none ;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #1d7a8c;
}
.sidebar-ul .nav-item .nav-link.active{
    background: #146371;
}
.container__main {
    flex: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.container__main table{
    border: 1px solid rgb(161, 157, 157);
}
.service-button{
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.export-button{
    width: 70px;
    height: 34px;
    background: #146371;
    border-radius: 17px;
    opacity: 1;
    color: white;
    border: 0px;
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Service-History-span{
    font-family: Roboto;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.05;
    letter-spacing: normal;
    text-align: left;
    color: #646464;
    opacity: 1;
}
.Service-History-span img{
    display: none;
}
.btn-rounded-17{
    border-radius: 17px !important;
    background: #6da9b5;
    color: white;
    font-size: 14px !important;
}

table tbody tr td,table thead tr th{
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: left;
    color: #646464;
    opacity: 1;
    padding-left: 10px;
}
table tbody tr td{
    padding: 8px 10px 8px 10px;
}
.dataTables_info{
    padding-top: 0 !important;
}
table.dataTable {
    border-collapse: collapse;
    border-spacing: 1px;
}
table.dataTable tbody .even, table.dataTable tbody .odd{
    background-color: #fff;
    border-bottom: 0px !important;
}
table thead{
    background: #e0e0e0 !important;
}
.servicedetail{
    color: #646464;
}
.serviceprovider .cap-div{
    /* width: 50px;
    height: 50px; */
    border: solid 1px #aaa;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    margin-top: 4px;
    margin-left: 3px;
}
.cap{
    width: 60px;
    height: 60px;
}
.i-con,.fa-star-half-stroke{
    color: #ecb91c !important;
}
.i-con-e{
    color: #d4d4d4;
}
.payment-text{
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #1d7a8c;
}
.servicestatus .status{
    font-size: 13px;
    color: white;
    text-align: center;
    padding: 5px 10px 7px;
    border-radius: 3px;
    height: 22px;
}
/* .servicestatus .status-s0{
    background-color: red;
}
.servicestatus .status-s1{
    background-color: #67b644;
}
.servicestatus .status-s2{
    background-color: #67b644;
} */
.servicestatus .status-s3{
    background-color: #ff6b6b;
}
.servicestatus .status-s4{
    background-color: #67b644;
}
.ratesp-text .btn,
.ratesp-text .btn:hover{
    background-color: #6da9b5;
    color: white;
    font-size: 14px;
}

/* dashboard  page*/
.add-service-button,.add-service-button:hover{
    background: #146371;
    border-radius: 23px;
    opacity: 1;
    color: white;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    text-decoration: none;
}
.dash-action{
    display: flex;
    justify-content: right;
    width: fit-content;
    height: 52px;
    align-items: center;
}
.reshedule-btn,
.reshedule-btn:hover,
.reshedule-btn:focus{
    box-shadow: none;
    background: #146371;
    border-radius: 23px;
    opacity: 1;
    color: white;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    height: fit-content;
    margin: 0px 3px;
}
.cancel-btn,.cancel-btn:hover,.cancel-btn:focus{
    box-shadow: none;
    background-color: #ff6b6b;
    border-radius: 23px;
    height: fit-content;
    opacity: 1;
    color: white;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    margin: 0px 3px;
}
.sction-head-dash,.dash-action{
    width: 230px;
}
/* dashboard page end */

/* setting  page */
.setting-btn-tab,
.setting-btn-tab:hover{
    color: #646464;
    width: 230px;
    border: 0 !important;
    font-size: 20px;
    font-weight: 400;
    font-family: roboto;
}
.setting-nav-tabs .nav-link.active{
    color: #146371;
    border: 0px !important;
    border-bottom: 3px solid #146371 !important;
}
.form-label{
    color: #646464;
    font-size: 18px;
    font-weight: 400;
}
.detail-save-btn,.detail-save-btn:hover{
    background-color: #146371;
    color: white;
    padding: 5px 20px;
    font-size: 18px;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.set-action-head,.set-action-body{
    width: 150px;
    text-align: center;
}
.set-address-table{
    border: 0 !important;
    border-left: 1px solid #cecece !important;
    border-right: 1px solid #cecece !important;
}
.set-address-head{
    padding: 5px 10px 5px 60px;
}
.set-address-body{
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 10px 10px 10px 60px;
}
.set-address-span{
    font-size: 18px;
    color: #646464;
    font-weight: 400;
}
.set-action-body .btn i{
    color: #b9b9b9;
    font-size: 22px;
}
.set-action-body .btn{
    padding: 5px 4px;
}
.add-address-btn,.add-address-btn:hover{
    background-color: #146371;
    color: white;
    padding: 5px 20px;
    font-size: 18px;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.save-pass-btn{
    background-color: #146371;
    color: white;
    padding: 5px 20px;
    font-size: 18px;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
/* setting page end */

/* fav pros */
.fav-pro-card{
    width: 320px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: roboto;
    min-width: 100%;
}
.favpro-data{
    min-width: fit-content !important;
}
.favpro-data-table{
    border: none !important;
    min-width: 100%;
}
.favpro-data-table tbody tr{
    display: inline-flex;
}
.favpro-data-table tbody tr td{
    display: inline;
    border:none !important;
    outline:none !important;
}
.fav-pro-card .row{
    text-align: center;
}
.avtar-fav-pro-card{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #aaaaaa;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.favblock-cap{
    width: 100% !important;
    height: 100% !important;
}
.fav-pro-card .row span{
    color: #646464; 
}
.remove-fav-pro-btn,.remove-fav-pro-btn:hover{
    color: white;
    padding: 5px 20px;
    font-size: 18px;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.block-fav-pro-btn,.block-fav-pro-btn:hover{
    color: white;
    padding: 3px 15px;
    font-size: 17px;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.block-fav-pro-btn0{
    background-color: #ff6b6b;
}
.block-fav-pro-btn1{
    background-color: #146371;
}
.remove-fav-pro-btn1{
    background-color: #146371;
}
.remove-fav-pro-btn0{
    background-color: #ff6b6b;
}
/* fav pros end */
/* content end */

/* footer start */
.footer{
    height: 195px;
    background-color: #111;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-top: 53px;  
    /* overflow: hidden; */
}
.footer .div1{
    display: flex;
    flex-direction: row;
    height: 131px;
}
.footer .div1 .fimg{
    width: 20%;
}
.footer img{
    width: 106px;
    height: 78px;
    margin-left: 122px;
    margin-top: 27px;
}
.footer .div1 .footer-list{
    width: 50%;
    height: 12px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    margin-right: auto;
    margin-left: auto;
    margin-top: 65px;
    justify-content: center;
    align-items: center;
}
.footer-list ul{
    list-style: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-list ul li{
    margin-left: 10px;
    margin-right: 10px;
}
.footer-list ul li a{
    text-decoration: none;
    color: white;
}
.fi{
    width: 20%;
    margin-top: 65px;
    text-align: center;
}
#fi1{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 0;
}
#fi2{
    width: 9px;
    height: 18px;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 0;
}

.footer .div2{
    height: 64px;
    text-align: center;
}
.div2 span{
    width: 775px;
    height: 14px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #f1f1f1;
    position: relative;
    top: 25px;

    /* ===================> */
    z-index: 0 !important;
}
.Rectangle-12-copy-2 {
    width: 84.6vw;
    height: 1px;
    margin-right: auto;
    margin-left: auto;
    background-color: #424242;
}
/* footer end */


@media (max-width: 1200px){
    .navbar-toggler{
     border-color: white !important;    
     height: 40px;
     width: 40px;
     margin-right: 10px;
     margin-top: 15px;
     display: flex;
     align-items: center;
     justify-content: center;
    }
    .navbar-toggler .navbar-toggler-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }
    .sidebar-ul-navbar{
        z-index: 1000 !important;
    }
    .navbar-nav{
        position: absolute;
        height: 50vh;
        width: 250px;
        right: 0;
        top: 64px;
        padding-top: 15px;
        display: flex;
        align-items: center !important;
        border-bottom: 1px solid white;
    }
    .content .sidebar-main{
        display: none;
    }
     .nav-sp .sidebar-ul-navbar{
         display: flex;
         top: 280px;
     }
     .navbar-collapse{
         flex-basis: 0% !important;
     }
     .customerservicehistory{
         width: 100vw;
         margin-right: 0 !important;
         justify-content: center;
     }
     .content{
         margin: 0px 0px !important;
     }
     .footer{
        display: flex;
        height: fit-content;
        flex-direction: column;   
    }
    .footer .div1{
        display: flex;
        flex-direction: column;
        height: fit-content;
        text-align: center;
        align-items: center;
        padding: 0;
    }
    .footer img{
        width: 150px;
        height: 100px;
        margin: 0 !important;
        margin-top: 20px !important;
    }

    .footer .div1 .footer-list{
        height: fit-content;
    }
    .footer .div1 .footer-list ul{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
    }
    .fi{
        padding: 0;
        margin: 0;
        padding-bottom: 10px;
    }
    .fi a{
        margin-left: 5px;
        margin-right: 5px;
    }
    .footer .div2{
        height: 90px;
        margin-top: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }
 }
 @media(max-width:989px){
    .container__main{
        margin: 0 !important;
    }
    .dob-div-row{
        display: flex;
        flex-direction: column;
    }
    .dob-div-row div select{
        margin-top: 4px;
        margin-bottom: 4px;
        min-width: 120px;
    }
 }

 @media(max-width:820px){
    .set-address-table tbody,.set-address-table{
        border: 0px !important;
    }
    thead{
        display: none;
    }
    .Service-History-span img{
        display: block;
    }
    .service-button{
        display: flex;
        flex-direction: column;
    }
    .container__main{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    table{
        border: 0px !important;
    }
    table tbody tr{
        border-bottom: 0;
        display: flex;
        flex-direction: column;
        margin: 20px 0px;
        /* border: 1px solid #e1e1e1; */
        box-shadow: 2px 2px 10px #d6d6d6;
        border-radius: 5px;
    }
    table tbody tr td{
        padding: 10px 10px;
        border-bottom: 1px solid #e1e1e1;
        margin-left: 5px;
        margin-right: 5px;
    }
    .ratesp-text{
        text-align: center;
    }
    .setting-nav-tabs  .nav-link{
        width: 33%;
    }
 }

 @media(max-width:650px){
    #example_wrapper .bottom {
        flex-direction: column;
    }
 }
 @media(max-width:500px){
    .setting-nav-tabs  .nav-link{
        padding-left: 2px;
        padding-right: 2px;
    }
    .set-address-head,
    .set-address-body{
        padding: 5px 5px 5px 5px;
    }
 }

.bottom {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.paginate_button {
    border-radius: 50% !important;
}
.paginate_button:hover {
    background: #1D7A8C !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background: #1D7A8C !important;
    color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em;
}
.dataTables_paginate {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled{
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.first {
    content: url(../Img/customer/first-page.png);
    padding: 15px 14px 14px 16px;
    border-radius: 50%;
    border: 1px solid #e1e1e1;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.previous {
    content: url(../img/customer/keyboard-right-arrow-button-copy.png);
    padding: 15px 14px 14px 16px;
    border-radius: 50%;
    border: 1px solid #e1e1e1;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.next {
    content: url(../img/customer/keyboard-right-arrow-button-copy.png);
    padding: 15px 14px 14px 16px;
    border-radius: 50%;
    border: 1px solid #e1e1e1;
    transform: rotate(180deg);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.last {
    content: url(../img/customer/first-page.png);
    padding: 15px 14px 14px 16px;
    border-radius: 50%;
    border: 1px solid #e1e1e1;
    transform: rotate(180deg);
}
.dataTables_wrapper .dataTables_length select {
    color: black;
}