@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* *{
    border: 1px solid red;
} */
input,button,select,textarea{
    box-shadow: none !important;  
}
/* navbar start */
.navigation{
    position: sticky;
    top: 0;
    z-index: 100000;
}
.navbar{
    background-color: #525252;
    height: 64px;
    padding:0;
    height: 64px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.navbar-brand img{
    height: 54px;
    margin-top: 0px;
    margin-bottom: 4px;
    margin-left: 15px;
    width: 73px;
    position: absolute;
    top: 5px;
    left: 6px;
}
.nav-sp{
    display: flex;
}
.nav-sp .sidebar-ul-navbar{
    display: none;
}
.navbar .navbar-nav li a,.navbar .navbar-nav li a:hover{
    color: #ffffff !important;
    font-size: 17px;
}
.navbar .navbar-nav li .a{
    margin-bottom: 5px;
}
#collapsibleNavbar ul{
    background-color: #525252;
}
.navbar .navbar-nav{
    align-items: end;
}
.navbar .navbar-nav li{
    margin-left: 8px;
    margin-right: 8px;
    text-align: end;
    align-items: end;   
}
.float-right-notification ul{
    list-style: none;
    display: flex;
    padding-left: 0;
    height: 58px;
    padding-top: 12px;
    padding-bottom: 0px;
}
.float-right-notification ul li{
    position: relative;
}
.dropdown-menu::before{
    position: absolute;
    content: "";
    border-width: 0 9px 14px 9px;
    border-style: solid;
    border-color: transparent transparent #ccc transparent;
    top: -14px;
    right: 24px;
}
.dropdown-menu::after{
    position: absolute;
    top: 0;
    content: "";
    border-width: 0 8px 12px 8px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    top: -12px;
    right: 25px;
}

#notification{
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.Ellipse-5 {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #ff1616;
    position: relative;
    top: -45px;
    left: 36px;
    color: white;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#user-1{
      margin-left: 0px;
      margin-right: 0px;
  }
.Forma-1-copy {
    width: 11px;
    height: 6px;
    object-fit: contain;
}
.dropdown-menu1{
    position: absolute;
    top: 60px;
    left: -115px;
}
.dropdown-menu2{
    position: absolute;
    top: 60px;
    left: -110px;
}
/* navbar end */

/* name header */
.name-header{
    height: 119px;
    background-color: #f9f9f9;  
    text-align: center;
    padding-top: 44px;
    padding-bottom: 46px;
    border-bottom: 1px solid #e1e1e1;
}
.Welcome-name {
    font-family: Roboto;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.8;
    letter-spacing: normal;
    text-align: right;
    color: var(--greyish-brown);
    color: #4F4F4F;
    opacity: 1;
  }
  .Welcome-name .text-style-1 {
    font-weight: bold;
  }
/* name header end */

/* content */
.upcomingservice{
    display: flex;
    flex-direction: row !important;
    overflow-x: auto;
    padding-top: 31px;
}
.content {
    display: flex;
}
.container__sidebar {
    width: 262px;
    background-color: #1d7a8c;
    height: 712px;
    
}
.sidebar-ul{
    flex-direction: column !important;
}
.sidebar-ul li{
    height: 54px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 262px;
}
.sidebar-ul li a,.sidebar-ul li a:hover{
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #1d7a8c;
}
.sidebar-ul li a:focus{
    background: #146371;
}
.container__main {
    flex: 1;
    overflow: auto;
    width: 847px;
    margin-left: 30px;
}
.head-us .upcoming-heading{
    display: none;
    text-align: left;
    font-size: 24px !important;
    font-family: Roboto;
    color: #4F4F4F;
    font-weight: bold;
}
.head-us{
    display: none;
    padding: 10px;
}
.container__main table{
    border: 1px solid rgb(192, 192, 192);
}
.btn-rounded-17{
    border-radius: 17px;
}
.table-main-div{
    overflow-x: auto;
}
.btn-rounded-17{
    border-radius: 17px;
    background: #FF6B6B;
}
.table thead tr th{
    font-weight: bold;
}
table tbody tr td,table thead tr th{
    font-family: Roboto;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: left;
    color: #646464 !important;
    padding-left: 10px;
    height: 50px;
}
table thead tr,table tbody tr{
    border-bottom: 1px solid rgb(219, 219, 219);
}
table tbody tr td{
    padding: 8px 10px 8px 10px;
}
table thead{
    background-color: #e1e1e1;
}
.servicedata span{
    font-weight: bold;
}
/* content end */

/* new service request */
.head-filter-nsr{
    display: flex;
    align-items: center;
}
.head-filter-nsr .row .col{
    padding-left: 0;
    width: fit-content;
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: left;
    color: #646464;
}
.distance-filter-select{
    min-width: 115px;
    color: #646464;
}
#pah-filter:checked{
    background-color: #2c94a8 !important;
    border: 0;
}
#pah-filter-label{
    min-width: 200px;
    font-size: 16px;
}
.serviceactions-body .btn{
    background-color: #22707e;
    color: white;
}
/* new service request end*/

/* service history */
.service-button{
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: Roboto;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #646464;
}
.export-button{
    width: 70px;
    height: 34px;
    background: #146371;
    border-radius: 17px;
    padding: 4px 8px;
    opacity: 1;
    color: white;
    font-size: 16px;
    border: 0px;
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ps-head{
    min-width: 170px;
}
.ph-col-select{
    color: #646464;
}
.serviceprovider{
    display: flex;
    margin: 0 !important;
    color: #646464;
    height: fit-content;
}
.i-con{
    color: #ecb91c;
}
.i-con-e{
    color: #d4d4d4;
}
/* service history end */

/* my ratings */
.data-of-myrating{
    color: #555555;
}
.c-s-r-d{
    font-weight: 600;
}
.sorting-logo{
    color: #646464;
}
.comments-heading{
    font-weight: 600;
    font-size: 18px;
    font-family: Roboto;
}
.customer-rating-main-div{
    border: 1px solid rgb(197, 197, 197);
}
.data-of-myrating{
    padding: 0;
}
.customer-comments-main-div{
    display: flex;
    flex-direction: column;
}
.comments-heading-div{
    font-weight: 600;
    font-size: 20px;
}
.rc-divider-line{
    margin: 6px 0px;
}
.data-mr-row{
    flex-wrap: wrap;
}
.data-mr-row .col{
    min-width: 230px;
}
/* my ratings end */

/* block customer */
.fav-pro-main-div{
    display: flex;
    flex-wrap: wrap;
}
.fav-pro-card{
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: roboto;
}
.fav-pro-card .row{
    text-align: center;
}
.avtar-fav-pro-card{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #aaaaaa;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avtar-fav-pro-card img{
    height: 27px;
    width: 37px;
}
.fav-pro-card .row span{
    color: #646464; 
}
.remove-fav-pro-btn,.remove-fav-pro-btn:hover{
    background-color: #146371;
    color: white;
    padding: 5px 20px;
    font-size: 18px;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.block-fav-pro-btn,.block-fav-pro-btn:hover{
    background-color: #ff6b6b;
    color: white;
    padding: 3px 15px;
    font-size: 17px;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
/* block customer end */

/* my-settings */
/*----------- Setting -----------*/
.div-content .nav-tabs .nav-item.show .nav-link,.div-content .nav-tabs .nav-link.active{
    border-width: 3px;
    border-color: #fff #fff #29626d;
}
.div-content .nav-link,.div-content .nav-link:hover{
    opacity: 0.9;
    font-size: 22px;
    color: #525252;
}
.div-content .nav-tabs button{
    width: 33%;
}
.a-s-text{
    color: greenyellow;
}
.a-s-heading{
    font-size: 20px;
}

/* my-settings end */

/* pagination */
.pagination-div{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    height: fit-content;
    padding-left: 0 !important;
    padding-right: 0 !important;
    /* z-index: -1; */
}
.pagination-div div{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.dropdown-toggle{
    background-color: white;
    color: #646464;
    opacity: 1;
}
.pagination{
    display: flex;
    flex-direction: row;
}
.pagination-div .container-fluid span{
    color: #646464;
    opacity: 1;
    font-size: 14px;
    font-family: Roboto;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
}
.page-link{
    border-radius: 50% !important;
    text-decoration: none;
    color: #777777 !important;
    opacity: 1;
    width: 38px;
    height: 38px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
}
.page-link:active,
.page-link:focus
{
    background-color: #1d7a8c;
    color: white !important;
}
/* pagination div end */


/* footer start */
.footer{
    height: 195px;
    background-color: #111;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-top: 53px;  
    overflow: hidden;
}
.footer .div1{
    display: flex;
    flex-direction: row;
    height: 131px;
}
.footer .div1 .fimg{
    width: 20%;
}
.footer img{
    width: 106px;
    height: 78px;
    margin-left: 122px;
    margin-top: 27px;
}
.footer .div1 .footer-list{
    width: 50%;
    height: 12px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    margin-right: auto;
    margin-left: auto;
    margin-top: 65px;
    justify-content: center;
    align-items: center;
}
.footer-list ul{
    list-style: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-list ul li{
    margin-left: 10px;
    margin-right: 10px;
}
.footer-list ul li a{
    text-decoration: none;
    color: white;
}
.fi{
    width: 20%;
    margin-top: 65px;
    text-align: center;
}
#fi1{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 0;
}
#fi2{
    width: 9px;
    height: 18px;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 0;
}

.footer .div2{
    height: 64px;
    text-align: center;
}
.div2 span{
    width: 775px;
    height: fit-content;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #f1f1f1;
    position: relative;
    top: 25px;
}
.Rectangle-12-copy-2 {
    width: 84.6vw;
    height: 1px;
    margin-right: auto;
    margin-left: auto;
    background-color: #424242;
  }
/* footer end */

@media (max-width: 1200px){
   .navbar-toggler{
    border-color: white ;
    height: 40px;
    width: 40px;
    margin-right: 12px;
    margin-top: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .navbar-toggler .navbar-toggler-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.navbar-toggler .navbar-toggler-icon i{
    color: white;
}
   .navbar-nav{
       position: absolute;
       height: 50vh;
       width: 250px;
       z-index: 1000000;
       right: 0;
       top: 64px;
       display: flex;
       align-items: center !important;
       border-bottom: 1px solid white;
   }
   .container-fluid .upcoming-heading{
    display:block;
    text-align: left;
    font-size: 16px;
    font-family: Roboto;
    color: #4F4F4F;
    padding: 10px;
    z-index: 1000000;
}
   .content .sidebar-main{
       display: none;
   }
    .nav-sp .sidebar-ul-navbar{
        display: flex;
        top: 260px;
        border-top: 1px solid white;
    }
    .navbar-collapse{
        flex-basis: 0%;
    }
    .container__main {
        flex: 1;
        overflow-x: auto;
    }
    .head-us{
        display: block;
        padding: 10px;
    }
    .serviceaction{
        text-align: center;
        border-bottom: 0px;
    }
    .footer{
        display: flex;
        height: fit-content;
        flex-direction: column;   
    }
    .footer .div1{
        display: flex;
        flex-direction: column;
        height: fit-content;
        text-align: center;
        align-items: center;
        padding: 0;
    }
    .footer img{
        width: 150px;
        height: 100px;
        margin: 0 !important;
        margin-top: 20px !important;
    }

    .footer .div1 .footer-list{
        height: fit-content;
    }
    .footer .div1 .footer-list ul{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
    }
    .fi{
        padding: 0;
        margin: 0;
        padding-bottom: 10px;
    }
    .fi a{
        margin-left: 5px;
        margin-right: 5px;
    }
    .footer .div2{
        height: 100px;
        margin-top: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media(max-width:778px){
    .upcomingservice{
        padding-left: 0;
    }
    .content{
        padding-left: 10px;
        padding-right: 10px;
    }
    .container__main{
        width: 100vw;
        margin-left: 0;
        border: 0px;
        
    }
    .container__main table{
        border: 0px;
    }
    thead{
        display: none;
    }
    tbody{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    tbody tr{
        border: 0 !important;
        width: 95%;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        margin-bottom: 15px;
        box-shadow: 2px 2px 10px gray;
        padding: 5px;
    }
    tbody tr td{
        border-bottom: 1px solid #e1e1e1;
        height: max-content !important;
        width: 100% !important;
    }
}   
@media(max-width: 740px){
    .data-mr-row{
        flex-direction: column;
    }
    .data-mr-row .col{
        padding-bottom: 8px;
    }
}
@media(max-width: 450px){
    .service-button {
        flex-direction: column;
        align-items: flex-start;
    }
    .service-history-head{
        padding-bottom: 8px;
    }
}