
.modal-dialog{
    color: #424242;
    font-family: Roboto;
    min-width: fit-content !important;
}
.modal-title{
    color: #646464;
}
.modal-header{
    color: #5c5c5c;
    border-bottom: 0px !important;
}
.MCccmodal{
    padding: 20px;
    max-width: 700px;
    min-width: 300px;
}

.MHcc{
    border: 0px;
    color: #5c5c5c;
    padding-left: 0;
}
.MHcc button{
    font-family: Roboto;
    font-size: 16px;
}
.MBcc{
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0;
    display: flex;
    flex-direction: row; 
    min-width: fit-content !important;
}
@media(max-width:700px){
    .MBcc{
        flex-direction: column !important;
        width: fit-content;
    }
    .MBcc .container-fluid{
        width: auto;
    }
    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        width: 280px;
    }
    .gmap_iframe {
        width: 280px;
    } 
    .modal-content {
        top: 35px;
    }
}
@media(max-width:400px){
    .modal-content {
        top: 35px;
    }
}
.modatl-time{
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #bdbdbd;
}
.modal-duration span{
    font-weight: 500;
}
.service-info-heading,
.address-detail-head,
.heading-comments{
    font-weight: 500;
}
.service-info{
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #bdbdbd;
}
.modal-amount{
    color: #1d7a8c;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}
.service-address-modal,
.comments-div{
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #bdbdbd;
}
.check{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(112, 205, 50);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-right: 5px;
}
.cross{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-right: 5px;
}
.comment-body{
    display: flex;
    align-items: center;
}
.cc-btn-div{
    justify-content: left;
    padding-left: 0;
}
.Reschedule-btn,
.Reschedule-btn:hover{
    background-color: #1d7a8c;
    color: white;
    border-radius: 23px;
    padding: 8px 15px;
}
.Cancel-btn,
.Cancel-btn:hover{
    color: white;
    border-radius: 23px;
    padding: 8px 15px;
    background-color: rgb(255, 110, 85);
}
.Cancel-btn i{
    margin-right: 5px;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: fit-content;
}
.mapouter{
    width: fit-content;
}
.gmap_iframe {
    width: 300px;
    height: 100%;
} 