@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* *{
    border: 1px solid red;
} */
/* =====Navbar===== */
.navbar {
    transition: all 0.3s ease;
    padding: 0px;
    margin: 0px;
}
.navbar.sticky{
    padding:0;
    background: #525252;
    height: 64px;
    margin: 0;
}
.navbar.navbar-bg-color{
    background-color: #2d2c2c;
}
.navbar-brand img {
    width: 138px;
    height: 102px;
    transition: all 1s ease;
    margin-top: 10px;
    margin-left: 17px;
}
.navbar.sticky div .navbar-brand img{
    height: 54px;
    margin-top: 6px;
    margin-bottom: 4px;
    margin-left: 15px;
    width: 73px;
}
.navbar.navbar-bg-color .navbar-brand img{
    height: 70px;
}
.navbar .navbar-nav ul{
    text-align: end;
}
.navbar .navbar-nav{
    align-items: end;
}
.navbar .navbar-nav li{
    padding-left: 10px;
}
.navbar .navbar-nav .rounded-link{
    border: 1px solid white;
    border-radius: 20px;
    height: 40px;
}
.navbar.sticky div .navbar-nav .rounded-link{
    background-color: hsla(189, 100%, 22%, 0.529);
}
.navbar .navbar-nav li a{
    color: #ffffff !important;
    font-family: Roboto;
    padding: 7px 20px !important;
    font-size: 17px;
}
.navbar .navbar-nav .county-flag{
    width: 18px;
}
.navbar .navbar-nav .dropdown-menu{
    background-color: transparent;
    border: none;
    min-width: 0px;
    left: -15px;
    padding: 0px;
}
/* ======navbar end====== */


/* ======registration======= */
.registration-div{
    height: 928px;
    background-image: url("../Img/serviceprovider/group-18.png");
}
#register-form{
    margin-top: 22px;
}
#formdiv{
    background-color: white;
    z-index: 1;
    position: relative;
    top: 150px;
    width: 430px;
    text-align: center;
    padding-top: 23px;
    margin-bottom: 20px;
}
.Register-Now {
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #4f4f4f;
  }
.register-form-control{
    height: 46px;
    width: 359px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}
#agreed{
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
}
#check-box{
    justify-content: center;
    margin-top: 10px;
}
.I-accept-terms-and-conditions-privacy-policy {
    width: 340px;
    font-family: Roboto;
    font-size: 16px;
    text-align: left;
    color: #1fb6ff;
  }
  
.I-accept-terms-and-conditions-privacy-policy .text-style-1 {
    color: #4f4f4f;
}
.text-style-2{
    color: #4f4f4f;
}
.get-started-btn,.get-started-btn:hover{
    height: 46px;
    width: 166px;
    background-color: #1d7a8c;
    color: white;
    font-size: 15px;
    font-family: Roboto;
    border-radius: 23px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.row .btn img{
    margin-right: 2px;
}
.down-arrow-div{
    position: relative;
    top: 270px;
    text-align: center;
}
/* =====registration end===== */


/* =====how it works===== */
#left-bg{
    position: absolute;
    left: 0;
    z-index: -1;
}
#right-bg{
    position: absolute;
    right: 0;
    z-index: -1;
}
.how-it-works-container{
    text-align: center;
    padding-top: 68px;
    height: fit-content;
}   
.How-it-works {
    font-family: Roboto;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4f4f4f;
    z-index: 2;
    padding-bottom: 100px !important;
}

/* first */
.container-1{
    position: relative;
    top: 73px;
}
.container-1-1{
    height: 260px;
    width: 748px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;  
}
.container-1-1-1{
    width: 374px;
    text-align: left;
    float: left;
    margin-top: 52px;
}
.Register-yourself {
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    /* line-height: 1.2; */
    letter-spacing: normal;
    text-align: left;
    color: #4f4f4f;
  }
.container-1-1-1 .text-para{
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4f4f4f;
    position: relative;
    top: 16px;
}
.container-1-1-1 a{
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4f4f4f;
    text-decoration: none;
    position: relative;
    top: 48px;
}
.container-1-1-2{
    width: 374px;
}
.container-1-1-2 img{
    float: right;
}
/* second */
.container-1-2{
    height: 260px;
    width: 748px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}
.container-1-2-1{
    width: 374px;
}
.container-1-2-1 img{
    float: left;
}
.container-1-2-2{
    width: 374px;
    text-align: left;
    margin-top: 52px;
}
.Get-service-requests {
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #4f4f4f;
    text-align: left;
}
.container-1-2-2 .text-para{
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4f4f4f;
    position: relative;
    top: 16px;
}
.container-1-2-2 a{
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4f4f4f;
    text-decoration: none;
    position: relative;
    top: 48px;
}

.error {
    color: red !important;
    margin-left: 5px;
    display: inline;
}
label.error {
    display: inline !important;
}
/* =====how it works end===== */

/* =====footer start===== */
.footer{
    height: 195px;
    background-color: #111;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0;
    margin-top: 120px;
}
.footer .div1{
    display: flex;
    flex-direction: row;
    height: 131px;
}
.footer .div1 .fimg{
    width: 20%;
}
.footer img{
    width: 106px;
    height: 78px;
    margin-left: 122px;
    margin-top: 27px;
}
.footer .div1 .footer-list{
    width: 50%;
    height: 12px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    margin-right: auto;
    margin-left: auto;
    margin-top: 65px;
    justify-content: center;
    align-items: center;
}
.footer-list ul{
    list-style: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-list ul li{
    margin-left: 10px;
    margin-right: 10px;
}
.footer-list ul li a{
    text-decoration: none;
    color: white;
}
.fi{
    width: 20%;
    margin-top: 65px;
    text-align: center;
}
#fi1{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 0;
}
#fi2{
    width: 9px;
    height: 18px;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 0;
}

.footer .div2{
    height: 64px;
    text-align: center;
}
.div2 span{
    width: 775px;
    height: 14px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #f1f1f1;
    position: relative;
    top: 25px;
}
.Rectangle-12-copy-2 {
   width: 84.6vw;
   height: 1px;
   margin-right: auto;
   margin-left: auto;
   background-color: #424242;
 }

/* =====footer end===== */

@media(max-width: 1250px){
    .footer{
        /* height: 500px; */
        display: flex;
        height: fit-content;
        flex-direction: column;   
    }
    .footer .div1{
        display: flex;
        flex-direction: column;
        height: fit-content;
        text-align: center;
        align-items: center;
        padding: 0;
    }
    .footer .div1 .fimg{
        width: 100%;
    }
    .footer img{
        margin: 0 !important;
        margin-top: 20px !important;
    }

    .footer .div1 .footer-list{
        height: fit-content;
    }
    .footer .div1 .footer-list ul{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
    }
    .fi{
        padding: 0;
        margin: 0;
    }
    .fi a{
        margin-left: 5px;
        margin-right: 5px;
    }
    .footer .div2{
        height: 80px;
        margin-top: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (max-width: 1200px){
    .navbar-collapse .navbar-nav{
        position: absolute;
        top: 120px;
        left: 0 !important;
        background-color: #525252;
        width: 320px;
        right: 0px;
        align-items: center;
        padding-bottom: 20px;
    }
    .navbar-nav li{
        margin-top: 10px;
    }
    .navbar.sticky div .navbar-nav{
        position: absolute;
        top: 64px;
    }
}
@media(max-width: 800px){
    .container-1 .container{
        height: 320px;
    }
    .text-para{
        position: relative;
        top: 0px;
    }
    .container-1-1-1,.container-1-2-2{
        margin-top: 10px;
    }
}
@media(max-width: 750px){
    .container-1 .container{
        height: 320px;
    }
    .text-para{
        position: relative;
        top: 0px;
    }
    .container-1-1-1,.container-1-2-2{
        margin-top: 10px;
    }
}
@media(max-width: 600px){
    #formdiv{
        /* top: 150px; */
        width: 90vw;
    }
    .form-control{
        height: 40px;
        width: 90%;
    }
    .form-check-input{
        height: 20px;
        width: 20px;
        margin: 0;
    }
    #check-box{
        justify-content: center;
        margin-top: 10px;
    }
    .container-1-2{
        width: 80vw;
        height: max-content;
        display: flex;
        height: auto !important;
        flex-wrap: wrap-reverse;
        padding: 0;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .container-1-1{
        display: flex;
        width: 80vw;
        flex-wrap: wrap;
        padding: 0;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        height: auto !important;
    }
    .container-1-1-1{
        /* margin-top: 10px; */
        margin-left: 0;
        margin-right: 0;
        height: 230px !important;
    }
    .container-1-1-2{
        float: none;
        margin-top: 0px;
        margin-left: 0;
        margin-right: 0;
        
    }
    .container-1-1-2 img{
        float: none;
    }
    .container-1-2-1{
        float: none;
        margin-left: 0;
        margin-right: 0;
    }
    .container-1-2-1 img{
        float: none;

    }
    .container-1-2-2{
        margin-left: 0;
        margin-right: 0;
        height: 230px !important;
    }
    .container-1-1-1.container-1-1-2{
        margin-left: 0;
        margin-right: 0;
    }
}

@media(max-width: 400px) {
    #formdiv{
        width: 90vw;
    }
    .form-control{
        height: 40px;
        width: 90%;
    }
    .form-check-input{
        height: 20px;
        width: 20px;
        margin: 0;
    }
    #check-box{
        justify-content: center;
        margin-top: 10px;
    }
    .text-para{
        text-align: center;
    }
    .container-1-2{
        width: 90vw;
        height: 520px;
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .container-1-1{
        display: flex;
        width: 90vw;
        flex-direction: column;
        height: 520px;
        padding: 0;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .container-1-1-1{
        height: 260px;
        margin-top: 10px;
        margin-left: 0;
        margin-right: 0;
        width: 90%;
        text-align: center;
    }
    .container-1-1-2{
        float: none;
        margin-top: 60px;
        margin-left: 0;
        margin-right: 0;
        width: 90%;
    }
    .container-1-1-2 img{
        float: none;
        /* width: 90%;
        height: 90%; */
    }
    .container-1-2-1{
        float: none;
        margin-left: 0;
        margin-right: 0;
        width: 90%;
    }
    .container-1-2-1 img{
        float: none;
        /* width: 90%;
        height: 90%; */
    }
    .container-1-2-2{
        margin-left: 0;
        margin-right: 0;
        width: 90%;
        text-align: center;
    }
    .container-1-1-1.container-1-1-2{
        margin-bottom: 100px;
        margin-left: 0;
        margin-right: 0;
    }
}






