<div class="modal fade" id="login-model" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Login to your account</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <form action="">
            <div class="col">
              <div class="row">
                <input type="text" class="form-control" placeholder="Email" aria-label="Email">
                <i class="fa fa-user" aria-hidden="true"></i>
              </div>
              <div class="row">
                <input type="text" class="form-control" placeholder="Password" aria-label="Password">
                <i class="fas fa-lock" aria-hidden="true"></i>
              </div>
              <div class="row">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck">
                  <label class="form-check-label" for="gridCheck">
                    Remember me
                  </label>
                </div>
              </div>
              <div class="row">
                <button type="submit" class="btn">Login</button>
              </div>
              <div class="row">
                <p><a href="" data-bs-toggle="modal" data-bs-target="#forgotpass" data-bs-dismiss="modal">Forgot Password</a></p>
                <span>Don't have an account?<a href="createaccount.html" data-bs-toggle="modal" data-bs-target="#create-account"> Create
                    an account</a></span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>