@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.modal-dialog{
    width: 300px;
    color: #838383;
}
.modal-content{
    padding: 20px;
}
.modal-header{
    border: 0px;
    color: #838383;
}
.modal-header button{
    font-family: Roboto;
    font-size: 16px;
}
.modal-body{
    padding-top: 10px;
    padding-bottom: 0px;
}
.modal-body .col .row .form-control
,.modal-body .col .row .form-check,
.modal-body .col .row button
{
    margin: 10px 0px;
    font-family: Roboto;
    font-size: 16px;
}
.modal-body .col .row{
    position: relative;
}
.modal-body .col .row .fa-user,
.modal-body .col .row .fa-lock
{
    position: absolute;
    font-size: 3.5rem;
    right: 5px;
    top: 9px;
    
}
.modal-body .col .row button{
    background-color: #1d7a8c;
    color: white;
    border-radius: 23px;
    height: 43px;
}
.modal-body .col .row p a,
.modal-body .col .row span a
{
    font-size: 16px;
    color: #1d7a8c;
    text-decoration: none;
}
.modal-body .col .row p,
.modal-body .col .row span
{
    text-align: center;
    font-size: 16px;
}
.modal-body .col .row p{
    margin-bottom: 0;
    margin-top: 20px;
}
