@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* *{
    border: 1px solid red;
} */
/* navbar start */
.navigation{
    position: sticky;
    top: 0;
}
.navbar{
    background-color: #525252;
    /* width: 100vw; */
    height: 64px;
    padding:0;
    height: 64px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.navbar-brand img{
    height: 54px;
    margin-top: 0px;
    margin-bottom: 4px;
    margin-left: 15px;
    width: 73px;
    position: absolute;
    top: 5px;
    left: 6px;
}
.nav-sp{
    display: flex;
}
.nav-sp .sidebar-ul-navbar{
    display: none;
}
.navbar .navbar-nav li a{
    color: #ffffff !important;
    font-size: 17px;
}
.navbar .navbar-nav li .a{
    margin-bottom: 5px;
}
#collapsibleNavbar ul{
    background-color: #525252;
}
.navbar .navbar-nav{
    align-items: end;
}
.navbar .navbar-nav li{
    margin-left: 8px;
    margin-right: 8px;
    text-align: end;
    align-items: end;   
}
.float-right-notification ul{
    list-style: none;
    display: flex;
    padding-left: 0;
    height: 58px;
    padding-top: 12px;
    padding-bottom: 0px;
}
.float-right-notification ul li{
    position: relative;
}
.dropdown-menu::before{
    position: absolute;
    content: "";
    border-width: 0 9px 14px 9px;
    border-style: solid;
    border-color: transparent transparent #ccc transparent;
    top: -14px;
    right: 24px;
}
.dropdown-menu::after{
    position: absolute;
    top: 0;
    content: "";
    border-width: 0 8px 12px 8px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    top: -12px;
    right: 25px;
}

#notification{
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.Ellipse-5 {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #ff1616;
    position: relative;
    top: -45px;
    left: 36px;
    color: white;
    font-size: 13px;
    text-align: center;
    margin: 0;
}
#user-1{
      margin-left: 0px;
      margin-right: 0px;
  }
.Forma-1-copy {
    width: 11px;
    height: 6px;
    object-fit: contain;
}
.dropdown-menu1{
    position: absolute;
    top: 60px;
    left: -130px;
}
.dropdown-menu2{
    position: absolute;
    top: 60px;
    left: -128px;
}
/* navbar end */


/* name header */
.name-header{
    height: 119px;
    background-color: #f9f9f9;  
    text-align: center;
    padding-top: 44px;
    padding-bottom: 46px;
    border-bottom: 1px solid #e1e1e1;
}
.Welcome-name {
    font-family: Roboto;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.8;
    letter-spacing: normal;
    text-align: right;
    color: var(--greyish-brown);
    color: #4F4F4F;
    opacity: 1;
  }
  .Welcome-name .text-style-1 {
    font-weight: bold;
  }
  
/* name header end */


/* content */
.upcomingservice{
    display: flex;
    flex-direction: row !important;
    overflow-x: auto;
    padding-top: 31px;
}
.content {
    display: flex;
}
.container__sidebar {
    width: 262px;
    background-color: #1d7a8c;
    height: 712px;
}
.sidebar-ul{
    flex-direction: column !important;
}
.sidebar-ul li{
    height: 54px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 262px;
    /* padding-top: 6px;
    padding-left: 6px; */
}
.sidebar-ul li a{
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #1d7a8c;
}
.sidebar-ul li a:focus{
    background: #146371;
}
.container__main {
    /* Take the remaining width */
    flex: 1;

    /* Make it scrollable */
    overflow: auto;
    width: 847px;
    margin-left: 30px;
}
.head-us .upcoming-heading{
    display: none;
    text-align: left;
    font-size: 24px !important;
    font-family: Roboto;
    color: #4F4F4F;
    font-weight: bold;
}
.head-us{
    padding: 10px;
}
.container__main table{
    /* max-width: 850px !important; */
    /* min-width: 720px; */
    border: 1px solid rgb(161, 157, 157);
}
.btn-rounded-17{
    border-radius: 17px;
}
.table-main-div{
    overflow-x: auto;
    /* max-width: 845px !important; */
}
.btn-rounded-17{
    border-radius: 17px;
    background: #FF6B6B;
}
.table thead tr th{
    font-weight: bold;
}
table tbody tr td,table thead tr th{
    font-family: Roboto;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: left;
    color: #646464 !important;
    padding-left: 10px;
    height: 50px;
}
table thead tr,table tbody tr{
    border-bottom: 0.2px solid gray;
}
table tbody tr td{
    padding: 8px 10px 8px 10px;
}
table thead{
    background-color: #e1e1e1;
}
.serviceid{
    width: 120px;
}
.servicedata{
    width: 140px;
}
.servicedata span{
    font-weight: bold;
}
.customerdetail{
    width: 270px;
}
.servicedistance{
    width: 140px;
}
.serviceaction{
    width: 100px;
}
/* content end */


/* footer start */
.footer{
    height: 195px;
    background-color: #111;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-top: 53px;  
    overflow: hidden;
}
.footer .div1{
    display: flex;
    flex-direction: row;
    height: 131px;
}
.footer .div1 .fimg{
    width: 20%;
}
.footer img{
    width: 106px;
    height: 78px;
    margin-left: 122px;
    margin-top: 27px;
}
.footer .div1 .footer-list{
    width: 50%;
    height: 12px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    margin-right: auto;
    margin-left: auto;
    margin-top: 65px;
    justify-content: center;
    align-items: center;
}
.footer-list ul{
    list-style: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-list ul li{
    margin-left: 10px;
    margin-right: 10px;
}
.footer-list ul li a{
    text-decoration: none;
    color: white;
}
.fi{
    width: 20%;
    margin-top: 65px;
    text-align: center;
}
#fi1{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 0;
}
#fi2{
    width: 9px;
    height: 18px;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 0;
}

.footer .div2{
    height: 64px;
    text-align: center;
}
.div2 span{
    width: 775px;
    height: fit-content;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #f1f1f1;
    position: relative;
    top: 25px;
}
.Rectangle-12-copy-2 {
    width: 84.6vw;
    height: 1px;
    margin-right: auto;
    margin-left: auto;
    background-color: #424242;
  }
/* footer end */

@media (max-width: 1200px){
   .navbar-toggler{
    border-color: white ;
    height: 40px;
    width: 40px;
    margin-right: 12px;
    margin-top: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .navbar-toggler .navbar-toggler-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.navbar-toggler .navbar-toggler-icon i{
    color: white;
}
   .navbar-nav{
       position: absolute;
       height: 50vh;
       width: 250px;
       right: 0;
       top: 64px;
       display: flex;
       align-items: center !important;
       border-bottom: 1px solid white;
   }
   .container-fluid .upcoming-heading{
    display:block;
    text-align: left;
    font-size: 16px;
    font-family: Roboto;
    color: #4F4F4F;
    padding: 10px;
}
   .content .sidebar-main{
       display: none;
   }
    .nav-sp .sidebar-ul-navbar{
        display: flex;
        top: 260px;
        border-top: 1px solid white;
    }
    .navbar-collapse{
        flex-basis: 0%;
    }
    .container__main {
        flex: 1;
        /* overflow: auto; */
        overflow-x: auto;
        /* width: 847px; */
        /* margin-left: 30px; */
    }
    .serviceaction{
        text-align: center;
        border-bottom: 0px;
    }
    .footer{
        /* height: 500px; */
        display: flex;
        height: fit-content;
        flex-direction: column;   
    }
    .footer .div1{
        display: flex;
        flex-direction: column;
        height: fit-content;
        text-align: center;
        align-items: center;
        padding: 0;
    }
    .footer img{
        width: 150px;
        height: 100px;
        margin: 0 !important;
        margin-top: 20px !important;
    }

    .footer .div1 .footer-list{
        height: fit-content;
    }
    .footer .div1 .footer-list ul{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
    }
    .fi{
        padding: 0;
        margin: 0;
    }
    .fi a{
        margin-left: 5px;
        margin-right: 5px;
    }
    .footer .div2{
        height: 150px;
        margin-top: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media(max-width:778px){
    .upcomingservice{
        padding-left: 0;
    }
    .content{
        padding-left: 10px;
        padding-right: 10px;
    }
    .container__main{
        width: 100vw;
        margin-left: 0;
        border: 0px;
        
    }
    .container__main table{
        border: 0px;
    }
    thead{
        display: none;
    }
    tbody{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    tbody tr{
        /* border: 1px solid #e1e1e1; */
        border: 0 !important;
        width: 95%;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        margin-bottom: 15px;
        box-shadow: 2px 2px 10px gray;
        padding: 5px;
    }
    tbody tr td{
        border-bottom: 1px solid #e1e1e1;
        height: max-content !important;
        width: 100% !important;
    }
}   

