@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* navbar start */
.navbar{
    background-color: #525252;
    height: 64px;
    padding:0 !important;
    height: 64px;
    margin: 0;
    display: flex;
    justify-content: space-between !important;
    position: relative;
    align-items: center;
}
.navigation{
    position: sticky;
    top: 0;
    z-index: 10000;
}
.navbar-brand img{
    height: 54px;
    width: 73px;
    position: absolute;
    top: 6px;
    left: 15px;
}
.navbar .navbar-nav .rounded-link{
    border: solid 1px rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 111px;
    height: 40px;
    background-color: #00607287;
}
.rounded-link:hover{
    background-color: #00607287;
}
.nav-sp{
    display: flex;
}
.nav-sp .sidebar-ul-navbar{
    display: none;
    border-top: 1px solid white;
    padding-top: 10px;
    margin-top: 10px;
}
.navbar .navbar-nav li a{
    color: #ffffff !important;
    font-size: 17px;
    margin-left: 6px;
    margin-right: 6px;
    height: 40px;
}
/* .navbar .navbar-nav li a:hover{
    border: 1px solid white;
    background-color: #00607287;
    border-radius: 20px;
    margin-left: 5px;
    height: 40px;
} */
/* .navbar .navbar-nav li .a{
    margin-bottom: 5px;
} */
#collapsibleNavbar ul{
    background-color: #525252;
    z-index: 1000 !important;
}
.navbar .navbar-nav li{
    margin-left: 8px;
    margin-right: 8px;
    text-align: end;
    align-items: end;   
}
.float-right-notification ul{
    list-style: none;
    display: flex;
    padding-left: 0;
    height: 58px;
    padding-top: 12px;
    padding-bottom: 0px;
}

.dropdown-menu::before{
    position: absolute;
    content: "";
    border-width: 0 9px 14px 9px;
    border-style: solid;
    border-color: transparent transparent #ccc transparent;
    top: -14px;
    right: 24px;
}
.dropdown-menu::after{
    position: absolute;
    top: 0;
    content: "";
    border-width: 0 8px 12px 8px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    top: -12px;
    right: 25px;
}
#notification{
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.Ellipse-5 {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #ff1616;
    position: relative;
    top: -45px;
    left: 36px;
    color: white;
    /* font-size: 13px; */
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#user-1{
      margin-left: 0px;
      margin-right: 0px;
  }
.Forma-1-copy {
    width: 11px;
    height: 6px;
    object-fit: contain;
}
.dropdown-menu1{
    position: absolute;
    top: 60px !important;
    left: -112px !important;
}
.dropdown-menu2{
    position: absolute;
    right: 14px !important;
    top: 70px !important;
    left: unset !important;
}
#faq-img{
    height: 370px;
    margin: 0;
    padding: 0;
    background-image: url('../Img/bookservice/book-service-banner.jpg');
    background-size: cover;
}
/* navbar end */

.heading-of-page{
    padding: 50px 0px;
    font-family: Roboto;
    position: relative;
}
#words{
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.67;
    letter-spacing: normal;
    text-align: center;
    color: #4f4f4f;
    font-family: Roboto;
}
.Rectangle-5-copy-6{
    height: 1px;
    background-color: #ccc;
    width: 62px;
    margin-top: 14px;
    margin-left: 7px;
    margin-right: 7px;   
}
.star-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 18px;  
}


/* Book now start */
.main-content{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
}
.book-process{
    width: fit-content;
    margin: 0px;
}
.book-process .nav-tabs{
    /* height: 67px; */
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
}
.book-process .nav-tabs .nav-item{
    padding: 0;
    margin: 0;
    /* width: 187px; */
    
}
.book-process .nav-tabs li a{
    height: 67px;
    /* width: 187px; */
    padding: 5px 18px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background: #F3F3F3;
}
.book-process .nav-tabs li a img{
    margin-right: 5px;
}
.book-process .nav-tabs li a .white{
    display: none;
}
.book-process .nav-tabs li a .grey{
    display: block;
}
.book-process .nav-tabs li a.active{
    background-color: #1D7A8C !important; 
    color: white !important; 
}
.book-process .nav-tabs li a.active{
    background-color: #1D7A8C; 
    color: white;
}
.book-process .nav-tabs li a.active .white{
    display: block;
}
.book-process .nav-tabs li a.active .grey{
    display: none;
}

.book-prices{
    width: 360px;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}
.book-prices-1{
    width: 360px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-right: 10px;
    max-height: 570px;
    min-height: 570px;
    box-shadow: 0px 0px 7px #00000059;
    position: relative;
}
.book-prices-1 .header-price{
    background: #1D7A8C 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 67px;
    width: 360px;
    display: flex;
    align-items: center;
    padding: 0px 18px;
}
.book-prices-1 .header-price span{
    color: white;
    font-size: 20px;
}
.footer-prices{
    width: 360px;
    height: 46px;
    background: #F3F3F3 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    align-items: center;
    font-size: 17px;
    color: #8D8D8D;
    opacity: 1;
    position: absolute;
    bottom: 0;
    padding: 0px 18px;
}
.footer-prices img{
    margin-right: 10px;
}
.body-prices{
    padding: 0px 18px;
}
.body-prices .heading-cleaning{
    padding: 25px 0px;
}
.body-prices .heading-cleaning span{
    color: #4F4F4F;
    opacity: 1;
    font-size: 16px;
}
.duration-heading{
    color: #4F4F4F !important;
    
}
.duration-heading table thead,
.duration-heading table tfoot{
    font-size: 18px;
    font-weight: 500;
} 
.duration-heading table{
    width: 100%;
}
.duration-heading .time-tabel tbody{
    padding-top: 8px;
    border-bottom: 1px solid #E1E1E1;   
}
.duration-heading table tbody tr td{
    font-size: 16px;
}
.duration-heading table tbody tr .service-hours,
.duration-heading table tfoot tr .total-hours,
.dis-amm,.total-pay-amm,.effetive-pay-amm{
    display: flex;
    justify-content: end;
}
.dis-div{
    padding: 15px 0px;
    border-top: 1px solid #C8C8C8;
    border-bottom: 1px solid #C8C8C8;
    width: 100%;
    margin-top: 20px;
}
.total-pay-head{
    font-size: 22px;
    color: #1D7A8C;
    opacity: 1;
}
.total-pay-amm{
    color: #1D7A8C;
    opacity: 1;
    font-size: 48px;
}
.effetive-pay-amm{
    font-weight: 500;
    font-size: 22px;
}
.diss-detail{
    padding-top: 10px;
}
.freq-questions{
    padding-top: 20px;
    padding-bottom: 20px;
}
.freq-questions h2{
    color: #4F4F4F;
    opacity: 1;
    font-size: 24px;
    font-weight: 500;
    width: 100%;
    text-align: center;
}
.arrow{
    transform: rotate(-90deg);
    margin-right: 5px;
}
.arrow-down{
    transform: rotate(0deg);
    margin-right: 5px;
}
.freq-questions .container{
    padding: 0;
}
.freq-questions .container p{
    width: 360px;
}
.freq-questions .container p a{
    padding-left: 0;
}
.accordion{
    width: 360px;
}
.accordion-button{
    width: 360px;
    padding: 0.5rem 0.2rem;
    border: none;
}
.accordion-item{
    border: 0px;
}
.accordion-body{
    padding: 0.5rem 0.2rem;
    width: 360px;
}
.accordion-button::after,
.accordion-button:not(.collapsed)::after{
    background-image: none;
    display: none;
}
.accordion-button:not(.collapsed) {
    color: black;
    background-color: #e7f1ff;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.heading-cleaning{
    display: none;
}
#s1,#s2,#s3,#s4,#s5{
    display: none;
}
.fa-euro-sign{
    display: flex;
    justify-content: center;
    align-items: center;
}
.show-service{
    display:table-row !important;
}
/* side box end */

/* modal prices block */
.prices-modal-button{
    display: none;
    position: fixed;
    right: 2px;
    top: 70px;
    padding: 5px 8px;
    height: fit-content;
    border-radius: 10px;
    z-index: 10000;
}
#prices-block{
    padding: 0;
    margin: 0;
    min-width: 300px;
    margin-top: 55px;
    height: 600px;
    display: none;
}
#prices-block .modal-dialog{
    max-width: 362px;
}
#prices-block .modal-dialog .modal-content{
    max-width: 362px;
}
#prices-block .modal-dialog .modal-content .modal-body{
    max-width: 361.5px;
    padding: 0;
}
#prices-block .modal-dialog .modal-content .modal-body .book-prices-1{
    margin-right: 0;
    max-width: 360px;
    position: relative;
}
#prices-block .modal-dialog .modal-content .modal-body .book-prices-1 .header-price{
    max-width: 360px;
    display: flex;
    justify-content: space-between;
}
#prices-block .modal-dialog .modal-content .modal-body .book-prices-1 .footer-prices{
    max-width: 360px;
}
/* modal prices block end*/

.tab-pane{
    max-width: 750px;
    padding-bottom: 20px;
}
.main-content{
    padding: 0;
}


/* first tab========>>>> */
.enterpostal{
    opacity: 1;
    color: #646464;
    font-size: 20px;
    margin-bottom: 10px;
    padding-top: 20px;
}
#postalcode{
    height: 46px;
    font-size: 20px;
}
.checkavailability-btn,
.checkavailability-btn:hover{
    width: 220px;
    height: 46px;
    border-radius: 20px;
    background: #1D7A8C 0% 0% no-repeat padding-box;    
    border-radius: 23px;
    opacity: 1;
    color: white;
    font-size: 20px;
}
/* first tab end */


/* second tab start==========>>>>> */
#scheduleplan{
    max-width: 750px;
}
.norab,
.timing-div,
.extraservice-div,
.comments-div
{
    padding: 10px 0px 40px 0px;
    border-bottom: 1px solid #9c9c9c;
}
.norab .form-label{
    opacity: 1;
    color: #646464;
    font-size: 20px;
    margin-bottom: 10px;
    padding-top: 20px;
    font-weight: 500;
}
.norab select{
    color: #646464;
    font-size: 16px;
    margin-top: 5px;
    width: 100px;
}
.wcn .row .form-label,
.hlc .form-label
,.extraservice-div .form-label,
.comments-div .form-label,
.Address-show-div .form-label,
.pay-securely-label{
    opacity: 1;
    color: #646464;
    font-size: 20px;
    margin-bottom: 15px;
    padding-top: 20px;
    font-weight: 500;
}
.first-row-second-tab{
    display: flex;
    flex-wrap: wrap;
}
.wcn .row{
    display: flex;
    flex-wrap: wrap;
}
.wcn .row .col .form-control{
    width: 180px !important;
}
.wcn .row .col input,
.wcn .row .col select{
    color: #646464;
    font-size: 16px;
    margin-top: 8px;
}
.wcn .row .col select{
    width: min-content;
}
.hlc{
    padding-left: 0;
}
.hlc select{
    width: 150px;
    color: #646464;
    font-size: 16px;
    margin-top: 8px;
}
#service-row{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    flex-wrap: wrap;
}
#service-row div div{
    height: 90px;
    width: 90px;
    border: solid 1px #b0c9ce;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#service-row div span{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #646464;
    font-size: 16px;
    width: 120px;
}
#service-row>div{
    width: fit-content;
}
#service-row>.form-check{
    padding-left: 0;
}
#service-row>.form-check>input{
    display: none;   
}
#service-row>.form-check>input:checked + .form-check-label>div{
    border: 4px solid #258194;
}
#service-row>.form-check .form-check-label>div .grey-img{
    display: block;
}
#service-row>.form-check .form-check-label>div .green-img{
    display: none;
}
#service-row>.form-check>input:checked + .form-check-label>div .green-img{
    display: block;
}
#service-row>.form-check>input:checked + .form-check-label>div .grey-img{
    display: none;
}

#service-row .form-check label{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.comments-div .form-check{
    padding-top: 15px;
}
.comments-div .form-check .form-check-input{
    height: 18px;
    width: 18px;
}
.comments-div .form-check .form-check-label{
    color: #646464;
    font-size: 18px;
}
.continue-button{
    display: flex;
    justify-content: end;
    padding-top: 20px;
    padding-bottom: 50px;
}
.continue-button button,
.continue-button button:hover{
    width: 141px;
    height: 46px;
    background: #1D7A8C 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 1;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* second tab end */


/* third tab start=======>>>>> */
#yourdeatil{
    padding-bottom: 20px;
}
.address-detail{
    border: 1px solid #C8C8C8;
    padding: 10px 15px;
    margin: 0px 0px 15px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #5f5f5f;
    font-size: 16px;
    border-radius: 4px;
}
.radio-btn-address{
    width: 18px;
    height: 18px;
}
.radio-btn-address{
    margin-right: 10px;
}
.add-btn-div{
    display: flex;
    justify-content: left;
}
.add-btn-div .btn{
    padding: 10px 20px;
    border: 1px solid #2b8192;
    border-radius: 23px;
    color: #2a889b;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-btn-div .btn i{
    font-size: 12px;
    margin-right: 5px;
}
.add-address{
    /* max-width: 750px; */
    max-width: 100%;
    margin-top: 20px;
}
.add-address .card{
    /* max-width: 725px; */
    max-width: 100%;
}
.add-address .card .row .col .form-label{
    font-size: 18px;
}
.button-div-col{
    margin-top: 20px;
}
.save-address,
.save-address:hover{
    height: 40px;
    width: 100px;
    background: #1D7A8C 0% 0% no-repeat padding-box;
    border-radius: 25px;
    color: white;
    font-style: Roboto;
    font-size: 18px;
    margin-right: 5px;
}
.cancle-address-btn,
.cancle-address-btn:hover{
    height: 40px;
    width: 100px;
    border-radius: 25px;
    font-style: Roboto;
    font-size: 18px;
    border: 1px solid #646464;
    color: #646464;
}
.favourite-pro-select hr,hr{
    margin: 0px;
    opacity: 0.4;
}
.favourite-pro-select{
    margin-left: 0;
    padding-left: 0;
}
.choose-fav-pro{
    margin-left: 0;
    padding-left: 0;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
.choose-fav-pro h6{
    font-size: 16px;
    color: #646464;
}
.avatar-pro{
    border: 1px solid #646464;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar-card{
    padding: 15px 10px;
    margin-left: 0;
    margin-right: 0;
    width: 130px;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
}
.avatar-card .form-check-input{
    display: none;
}
.avatar-pro img{
    height: 30px;
    width: 42px;
}
.avatar-pro-name{
    color: #646464;
    font-size: 18px;
    padding-top: 5px;
}
.select-pro-btn{
    padding: 2px 18px;
    border: 1px solid #646464;
    color: #646464;
    font-size: 18px;
    background-color: white;
    border-radius: 3px;
}
/* third tab end */


/* fourth tab start====>>>>>> */
.apply-promo{
    width: 100px;
    padding: 10px 0px;
    border: 1px solid #2b8192;
    border-radius: 23px;
    color: #2a889b;
}
.promo-code-div>form>div{
    display: flex;
    color: #646464;
    padding-bottom: 40px;
} 
.promo-code-div>form>div>.col{
    display: flex;
    align-items: end;
    
}
.promo-code-div>form>div>.col>button{
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.promo-input-div{
    margin: 0;
    padding: 0;
}
.accept-pay-terms{
    display: flex;
    padding: 0;
}
.accept-pay-terms>div{
    padding: 0px 5px;
}
.accept-pay-terms>div>input{
    width: 18px;
    height: 18px;
    margin-top: 5px;
}
.condition-text{
    /* width: 750px; */
    width: 100%;
}
.condition-text>a,
.condition-text>a:hover{
    text-decoration: none;
    color: #3e9bad;
    font-size: 17px;
}
.complete-booking{
    padding: 15px 0px;
    display: flex;
    justify-content: right;
}
.complete-booking>.btn,
.complete-booking>.btn:hover{
    height: 50px;
    width: 220px;
    background: #1D7A8C 0% 0% no-repeat padding-box;
    border-radius: 25px;
    color: white;
    font-style: Roboto;
    font-size: 18px;
    margin-right: 5px;
}
/* fourth tab end */



/* =====footer start===== */
.footer{
    height: 195px;
    background-color: #111;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0;
    /* margin-top: 120px; */
}
.footer .div1{
    display: flex;
    flex-direction: row;
    height: 131px;
}
.footer .div1 .fimg{
    width: 20%;
}
.footer img{
    width: 106px;
    height: 78px;
    margin-left: 122px;
    margin-top: 27px;
}
.footer .div1 .footer-list{
    width: 50%;
    height: 12px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    margin-right: auto;
    margin-left: auto;
    margin-top: 65px;
    justify-content: center;
    align-items: center;
}
.footer-list ul{
    list-style: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-list ul li{
    margin-left: 10px;
    margin-right: 10px;
}
.footer-list ul li a{
    text-decoration: none;
    color: white;
}
.fi{
    width: 20%;
    margin-top: 65px;
    text-align: center;
}
#fi1{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 0;
}
#fi2{
    width: 9px;
    height: 18px;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 0;
}

.footer .div2{
    height: 64px;
    text-align: center;
}
.div2 span{
    width: 775px;
    height: 14px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #f1f1f1;
    position: relative;
    top: 25px;
}
.Rectangle-12-copy-2 {
   width: 84.6vw;
   height: 1px;
   margin-right: auto;
   margin-left: auto;
   background-color: #424242;
 }

/* =====footer end===== */


@media(max-width: 1250px){
    .footer{
        /* height: 500px; */
        display: flex;
        height: fit-content;
        flex-direction: column;   
    }
    .footer .div1{
        display: flex;
        flex-direction: column;
        height: fit-content;
        text-align: center;
        align-items: center;
        padding: 0;
    }
    .footer .div1 .fimg{
        width: 100%;
    }
    .footer img{
        margin: 0 !important;
        margin-top: 20px !important;
    }

    .footer .div1 .footer-list{
        height: fit-content;
    }
    .footer .div1 .footer-list ul{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
    }
    .fi{
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }
    .fi a{
        margin-left: 5px;
        margin-right: 5px;
    }
    .footer .div2{
        height: 80px;
        margin-top: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 1200px){
    .navbar-toggler{
        border-color: white ;
        height: 40px;
        width: 40px;
        margin-right: 12px;
        margin-top: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-toggler .navbar-toggler-icon{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-toggler .navbar-toggler-icon i{
        color: white;
    }
    .navbar-nav{
        position: absolute;
        height: 50vh;
        width: 250px;
        z-index: 1000000;
        right: 0;
        top: 64px;
        display: flex;
        align-items: center !important;
        border-bottom: 1px solid white;
        padding-top: 20px;
    }
    .container-fluid .upcoming-heading{
        display:block;
        text-align: left;
        font-size: 16px;
        font-family: Roboto;
        color: #4F4F4F;
        padding: 10px;
        z-index: 1000000;
    }
    .content .sidebar-main{
        display: none;
    }
    .nav-sp .sidebar-ul-navbar{
        display: flex;
        top: 260px;
        border-top: 1px solid white;
    }
    .navbar-collapse{
        flex-basis: 0%;
    }
}

@media(max-width:1040px){
    .book-process .nav-tabs{
        width: 100%;
    }
    .book-process .nav-tabs li{
        width: 25%;
    }
    .book-process .nav-tabs li a span{
        display: none;
    }
    .book-process .nav-tabs li a{
        height: 67px;
    }
}

@media (max-width:800px){
    .book-prices{
        display: none;
    }
    .book-process .nav-tabs li{
        display: table-cell;
    }
    .hlc{
        padding-left: 12px;
    }
    .postalcode-division>div{
        margin-top: 8px;
    }
    .book-process{
        width: inherit;
    }
    .prices-modal-button{
        display: block;
    }
    #prices-block{
        display: block;
    }
}
@media(max-width:412px){
    #prices-block{
        max-width: fit-content;
    }
    #prices-block .modal-dialog{
        max-width: 302px;
    }
    #prices-block .modal-dialog .modal-content{
        max-width: 302px;
    }
    #prices-block .modal-dialog .modal-content .modal-body{
        max-width: 301.5px;
    }
    #prices-block .modal-dialog .modal-content .modal-body .book-prices-1{
        max-width: 300px;
    }
    #prices-block .modal-dialog .modal-content .modal-body .book-prices-1 .header-price{
        max-width: 300px;
    }
    #prices-block .modal-dialog .modal-content .modal-body .book-prices-1 .footer-prices{
        max-width: 300px;
    }
}
