/* sticky element */
#testdiv{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: #525252;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 500px;
    left: 50px;
    z-index: 1;
}

@media(max-width:750px){
    #testdiv{
        top: 550px;
        left: 20px;
    }
}
@media(max-width:500px){
    #testdiv{
        height: 35px;
        width: 35px;
    }
}