@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* *{
    border: 1px solid red;
} */
/* navbar start */
.navbar{
    background-color: #525252;
    /* width: 100vw; */
    height: 64px;
    padding:0 !important;
    height: 64px;
    margin: 0;
    display: flex;
    justify-content: space-between !important;
    position: relative;
    align-items: center;
    z-index: 10000;
}
.navigation{
    position: sticky;
    top: 0;
}
.navbar-brand img{
    height: 54px;
    /* margin-top: 0px;
    margin-bottom: 4px;
    margin-left: 15px; */
    width: 73px;
    position: absolute;
    top: 6px;
    left: 15px;
}
.navbar .navbar-nav .rounded-link{
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 111px;
    height: 40px;
}
/* .navbar .navbar-nav .rounded-link:hover{
    background-color: #00607287;
} */
.rounded-link:hover{
    background-color: #00607287;
}
.nav-sp{
    display: flex;
}
.nav-sp .sidebar-ul-navbar{
    display: none;
    border-top: 1px solid white;
    padding-top: 10px;
    margin-top: 10px;
}
.navbar .navbar-nav li a{
    color: #ffffff !important;
    font-size: 17px;
    margin-left: 6px;
    margin-right: 6px;
    height: 40px;
}
/* .navbar .navbar-nav li a:hover{
    border: 1px solid white;
    background-color: #00607287;
    border-radius: 20px;
    margin-left: 5px;
    height: 40px;
} */
/* .navbar .navbar-nav li .a{
    margin-bottom: 5px;
} */
#collapsibleNavbar ul{
    background-color: #525252;
    z-index: 1000 !important;
}
.navbar .navbar-nav li{
    margin-left: 8px;
    margin-right: 8px;
    text-align: end;
    align-items: end;   
}
.float-right-notification ul{
    list-style: none;
    display: flex;
    padding-left: 0;
    height: 58px;
    padding-top: 12px;
    padding-bottom: 0px;
    
}

.dropdown-menu::before{
    position: absolute;
    content: "";
    border-width: 0 9px 14px 9px;
    border-style: solid;
    border-color: transparent transparent #ccc transparent;
    top: -14px;
    right: 24px;
}
.dropdown-menu::after{
    position: absolute;
    top: 0;
    content: "";
    border-width: 0 8px 12px 8px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    top: -12px;
    right: 25px;
}
#notification{
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.Ellipse-5 {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #ff1616;
    position: relative;
    top: -45px;
    left: 36px;
    color: white;
    font-size: 13px;
    text-align: center;
    margin: 0;
}
#user-1{
      margin-left: 0px;
      margin-right: 0px;
  }
.Forma-1-copy {
    width: 11px;
    height: 6px;
    object-fit: contain;
}
.dropdown-menu1{
    position: absolute;
    top: 60px !important;
    left: -130px !important;
}
.dropdown-menu2{
    position: absolute;
    right: 14px !important;
    top: 70px !important;
    left: unset !important;
}
/* navbar end */

/* name header */
.name-header{
    height: 119px;
    background-color: #f9f9f9;  
    text-align: center;
    padding-top: 44px;
    padding-bottom: 46px;
    border-bottom: 1px solid #e1e1e1;
}
.Welcome-name {
    font-family: Roboto;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.8;
    letter-spacing: normal;
    text-align: right;
    color: var(--greyish-brown);
    color: #4F4F4F;
    opacity: 1;
  }
  .Welcome-name .text-style-1 {
    font-weight: bold;
  }
/* name header end */

/* content */
.customerservicehistory{
    display: flex;
    flex-direction: row !important;
    padding-top: 31px;
    margin: 0 !important;
}
.content {
    display: flex;
}
.container__sidebar {
    width: 262px;
    background-color: #1d7a8c;
    height: 1032px;
    margin-bottom: 20px;
}
.sidebar-ul{
    flex-direction: column !important;
}
.sidebar-ul li{
    height: 54px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 262px;
    /* padding-top: 6px;
    padding-left: 6px; */
}
.sidebar-ul li a{
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #1d7a8c;
}
.sidebar-ul li a:focus{
    background: #146371;
}
.container__main {
    /* Take the remaining width */
    flex: 1;
    /* Make it scrollable */
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
.container__main table{
    max-width: 850px !important;
    border: 1px solid rgb(161, 157, 157);
}
.service-button{
    padding: 0 !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.export-button{
    width: 70px;
    height: 34px;
    background: #146371;
    border-radius: 17px;
    opacity: 1;
    color: white;
    border: 0px;
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Service-History-span{
    font-family: Roboto;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.05;
    letter-spacing: normal;
    text-align: left;
    color: #646464;
    opacity: 1;
}
.Service-History-span img{
    display: none;
}
.btn-rounded-17{
    border-radius: 17px !important;
    background: #6da9b5;
    color: white;
    font-size: 14px !important;
}

table tbody tr td,table thead tr th{
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: left;
    color: #646464;
    opacity: 1;
    padding-left: 10px;
    height: 50px;
}
table tbody tr td{
    height: 85px;
    padding: 8px 10px 8px 10px;
}
table thead tr,table tbody tr{
    border-bottom: 0.2px solid gray;
}
table tbody tr{
    height: 85px;
    
}
table thead{
    background-color: #e1e1e1;
}
.servicedetail{
    width: 160px;
    color: #646464;
}
.serviceprovider{
    width: 190px;
}
.serviceprovider{
    width: 190px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 !important;
    color: #646464;
}
.serviceprovider .cap-div{
    width: 44px;
    height: 44px;
    border: solid 1px #aaa;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}
.i-con{
    color: #ecb91c;
}
.i-con-e{
    color: #d4d4d4;
}

.payment{
    width: 150px;
    
}
.payment-text{
    width: 150px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #1d7a8c;
}
.servicestatus{
    width: 140px;
}
.servicestatus .completed{
    font-size: 13px;
    /* width: 82px !important;
    height: 22px !important; */
    background-color: #67b644;
    color: white;
    text-align: center;
    padding: 5px 10px 7px;
}
.servicestatus .cancelled{
    /* width: 76px; */
    height: 22px;
    padding: 5px 10px 7px;
    background-color: #ff6b6b;
    color: white;
}
.Ratesp{
    width: 100px;
}
.Ratesp-text{
    width: 100px;
}

/* pagination */
.pagination-div{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    height: fit-content;
    padding-left: 0 !important;
    padding-right: 0 !important;
    /* z-index: -1; */
}
.pagination-div div{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.dropdown-toggle{
    background-color: white;
    color: #646464;
    opacity: 1;
}
.pagination{
    display: flex;
    flex-direction: row;
}
.pagination-div .container-fluid span{
    color: #646464;
    opacity: 1;
    font-size: 14px;
    font-family: Roboto;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
}
.page-link{
    border-radius: 50% !important;
    text-decoration: none;
    color: #777777 !important;
    opacity: 1;
    width: 38px;
    height: 38px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
}
.page-link:active,
.page-link:focus
{
    background-color: #1d7a8c;
    color: white !important;
}
/* content end */

/* footer start */
.footer{
    height: 195px;
    background-color: #111;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-top: 53px;  
    /* overflow: hidden; */
}
.footer .div1{
    display: flex;
    flex-direction: row;
    height: 131px;
}
.footer .div1 .fimg{
    width: 20%;
}
.footer img{
    width: 106px;
    height: 78px;
    margin-left: 122px;
    margin-top: 27px;
}
.footer .div1 .footer-list{
    width: 50%;
    height: 12px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    margin-right: auto;
    margin-left: auto;
    margin-top: 65px;
    justify-content: center;
    align-items: center;
}
.footer-list ul{
    list-style: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-list ul li{
    margin-left: 10px;
    margin-right: 10px;
}
.footer-list ul li a{
    text-decoration: none;
    color: white;
}
.fi{
    width: 20%;
    margin-top: 65px;
    text-align: center;
}
#fi1{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 0;
}
#fi2{
    width: 9px;
    height: 18px;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 0;
}

.footer .div2{
    height: 64px;
    text-align: center;
}
.div2 span{
    width: 775px;
    height: 14px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #f1f1f1;
    position: relative;
    top: 25px;

    /* ===================> */
    z-index: 0 !important;
}
.Rectangle-12-copy-2 {
    width: 84.6vw;
    height: 1px;
    margin-right: auto;
    margin-left: auto;
    background-color: #424242;
}
/* footer end */


@media (max-width: 1200px){
    .navbar-toggler{
     border-color: white !important;    
     height: 40px;
     width: 40px;
     margin-right: 10px;
     margin-top: 15px;
     display: flex;
     align-items: center;
     justify-content: center;
    }
    .navbar-toggler .navbar-toggler-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }
    .sidebar-ul-navbar{
        z-index: 1000 !important;
    }
    .navbar-nav{
        position: absolute;
        height: 50vh;
        width: 250px;
        right: 0;
        top: 64px;
        padding-top: 15px;
        display: flex;
        align-items: center !important;
        border-bottom: 1px solid white;
    }
    .content .sidebar-main{
        display: none;
    }
     .nav-sp .sidebar-ul-navbar{
         display: flex;
         top: 280px;
     }
     .navbar-collapse{
         flex-basis: 0% !important;
     }
     .customerservicehistory{
         width: 100vw;
         margin-right: 0 !important;
         justify-content: center;
     }
     .content{
         margin: 0px 0px !important;
         /* max-width: 100% !important; */
     }
     .footer{
        /* height: 500px; */
        display: flex;
        height: fit-content;
        flex-direction: column;   
    }
    .footer .div1{
        display: flex;
        flex-direction: column;
        height: fit-content;
        text-align: center;
        align-items: center;
        padding: 0;
    }
    .footer img{
        width: 150px;
        height: 100px;
        margin: 0 !important;
        margin-top: 20px !important;
    }

    .footer .div1 .footer-list{
        height: fit-content;
    }
    .footer .div1 .footer-list ul{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
    }
    .fi{
        padding: 0;
        margin: 0;
    }
    .fi a{
        margin-left: 5px;
        margin-right: 5px;
    }
    .footer .div2{
        height: 160px;
        margin-top: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }
 }
 @media(max-width:989px){
    .container__main{
        margin: 0 !important;
    }
 }
 @media(max-width:770px){
    thead{
        display: none;
    }
    .Service-History-span img{
        display: block;
    }
    .customerservicehistory{
        width: 98% !important;
    }
    .content{
        width: 100% !important;
    }
    .container__main{
        width: 100% ;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    table{
        border: 0px !important;
    }
    table tbody tr{
        border-bottom: 0;
    }
    table tbody tr{
        display: flex;
        flex-direction: column;
        height: fit-content !important; 
        margin: 20px 0px;
        box-shadow: 2px 2px 10px gray;
        border-radius: 5px;
    }
    table tbody tr td{
        padding: 15px 10px;
        height: fit-content;
        border-bottom: 1px solid #e1e1e1;
        width: 95% !important;
        margin-left: 5px;
        margin-right: 5px;
    }
    .ratesp-text{
        text-align: center;
    }
    .pagination-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: -1;
    }
    .pagination-div div{
        text-align: center;
        justify-content: center;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    
 }
 
